
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySpecificSimulationLabel" translate="energliaApp.specificSimulation.home.createOrEditLabel">Create or edit a SpecificSimulation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.specificSimulation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.specificSimulation.logVersion" for="field_logVersion">LogVersion</label>
            <input type="text" class="form-control" name="logVersion" id="field_logVersion"
                    ng-model="vm.specificSimulation.logVersion"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFilelog($file, vm.specificSimulation)">
            <label class="control-label" translate="energliaApp.specificSimulation.filelog" for="field_filelog">Filelog</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.specificSimulation.filelogContentType, vm.specificSimulation.filelog)" ng-if="vm.specificSimulation.filelog" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.specificSimulation.filelogContentType}}, {{byteSize(vm.specificSimulation.filelog)}}</span>
                    <button ng-click="vm.specificSimulation.filelog=null;vm.specificSimulation.filelogContentType=null;"
                            ng-if="vm.specificSimulation.filelog"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFilelog($file, vm.specificSimulation)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="filelog" id="field_filelog"
                    ng-model="vm.specificSimulation.filelog"
                     />
            <input type="hidden" class="form-control" name="filelogContentType" id="field_filelogContentType"
                    ng-model="vm.specificSimulation.filelogContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.specificSimulation.nodeVersion" for="field_nodeVersion">NodeVersion</label>
            <input type="text" class="form-control" name="nodeVersion" id="field_nodeVersion"
                    ng-model="vm.specificSimulation.nodeVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.specificSimulation.jobid" for="field_jobid">Jobid</label>
            <input type="number" class="form-control" name="jobid" id="field_jobid"
                    ng-model="vm.specificSimulation.jobid"
                     />
        </div>

        <div class="form-group">
            <label translate="energliaApp.specificSimulation.status" for="field_status">status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.specificSimulation.statusId" ng-options="simulationStatusType.id as simulationStatusType.id for simulationStatusType in vm.simulationstatustypes">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="energliaApp.specificSimulation.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.specificSimulation.belongId" ng-options="simulation.id as simulation.id for simulation in vm.simulations">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="energliaApp.specificSimulation.launchBy" for="field_launchBy">launchBy</label>
            <select class="form-control" id="field_launchBy" name="launchBy" ng-model="vm.specificSimulation.launchById" ng-options="sshAccount.id as sshAccount.id for sshAccount in vm.sshaccounts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="energliaApp.specificSimulation.useData" for="field_useData">useData</label>
            <select class="form-control" id="field_useData" name="useData" ng-model="vm.specificSimulation.useDataId" ng-options="datasetCombination.id as datasetCombination.id for datasetCombination in vm.datasetcombinations">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
