
<div>
    <h2><span translate="energliaApp.specificSimulation.detail.title">SpecificSimulation</span> {{vm.specificSimulation.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.specificSimulation.logVersion">LogVersion</dt></dt>
        <dd>
            <span>{{vm.specificSimulation.logVersion}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.filelog">Filelog</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.specificSimulation.filelogContentType, vm.specificSimulation.filelog)" ng-if="vm.specificSimulation.filelog" target="_blank">open</a>
            <div>{{vm.specificSimulation.filelogContentType}}, {{vm.byteSize(vm.specificSimulation.filelog)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.nodeVersion">NodeVersion</dt></dt>
        <dd>
            <span>{{vm.specificSimulation.nodeVersion}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.jobid">Jobid</dt></dt>
        <dd>
            <span>{{vm.specificSimulation.jobid}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.status">status</span></dt>
        <dd>
            <a ui-sref="simulation-status-type-detail({id:vm.specificSimulation.statusId})">{{vm.specificSimulation.statusId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.belong">belong</span></dt>
        <dd>
            <a ui-sref="simulation-detail({id:vm.specificSimulation.belongId})">{{vm.specificSimulation.belongId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.launchBy">launchBy</span></dt>
        <dd>
            <a ui-sref="ssh-account-detail({id:vm.specificSimulation.launchById})">{{vm.specificSimulation.launchById}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.specificSimulation.useData">useData</span></dt>
        <dd>
            <a ui-sref="dataset-combination-detail({id:vm.specificSimulation.useDataId})">{{vm.specificSimulation.useDataId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
