<div>
    <h2 translate="energliaApp.specificSimulation.home.title">SpecificSimulations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="specific-simulation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.specificSimulation.home.createLabel">
                        Create new SpecificSimulation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.specificSimulation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logVersion"><span translate="energliaApp.specificSimulation.logVersion">LogVersion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filelog"><span translate="energliaApp.specificSimulation.filelog">Filelog</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nodeVersion"><span translate="energliaApp.specificSimulation.nodeVersion">NodeVersion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobid"><span translate="energliaApp.specificSimulation.jobid">Jobid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statusId"><span translate="energliaApp.specificSimulation.status">status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="belongId"><span translate="energliaApp.specificSimulation.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="launchById"><span translate="energliaApp.specificSimulation.launchBy">launchBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="useDataId"><span translate="energliaApp.specificSimulation.useData">useData</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="specificSimulation in vm.specificSimulations track by specificSimulation.id">
                    <td><a ui-sref="specific-simulation-detail({id:specificSimulation.id})">{{specificSimulation.id}}</a></td>
                    <td>{{specificSimulation.logVersion}}</td>
                    <td><a ng-click="vm.openFile(specificSimulation.filelogContentType, specificSimulation.filelog)" ng-if="specificSimulation.filelog" target="_blank">open</a>
                        {{specificSimulation.filelogContentType}}, {{byteSize(specificSimulation.filelog)}}</td>
                    <td>{{specificSimulation.nodeVersion}}</td>
                    <td>{{specificSimulation.jobid}}</td>
                    <td>
                        <a ui-sref="simulation-status-type-detail({id:specificSimulation.statusId})">{{specificSimulation.statusId}}</a>
                    </td>
                    <td>
                        <a ui-sref="simulation-detail({id:specificSimulation.belongId})">{{specificSimulation.belongId}}</a>
                    </td>
                    <td>
                        <a ui-sref="ssh-account-detail({id:specificSimulation.launchById})">{{specificSimulation.launchById}}</a>
                    </td>
                    <td>
                        <a ui-sref="dataset-combination-detail({id:specificSimulation.useDataId})">{{specificSimulation.useDataId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="specific-simulation-detail({id:specificSimulation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="specific-simulation.edit({id:specificSimulation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="specific-simulation.delete({id:specificSimulation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
