
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLogRecordLabel" translate="energliaApp.logRecord.home.createOrEditLabel">Create or edit a LogRecord</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.logRecord.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.logRecord.indexRecord" for="field_indexRecord">IndexRecord</label>
            <input type="number" class="form-control" name="indexRecord" id="field_indexRecord"
                    ng-model="vm.logRecord.indexRecord"
                    required />
            <div ng-show="editForm.indexRecord.$invalid">
                <p class="help-block"
                    ng-show="editForm.indexRecord.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.indexRecord.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.logRecord.timestamp" for="field_timestamp">Timestamp</label>
            <input type="number" class="form-control" name="timestamp" id="field_timestamp"
                    ng-model="vm.logRecord.timestamp"
                    required />
            <div ng-show="editForm.timestamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.logRecord.errorTrain" for="field_errorTrain">ErrorTrain</label>
            <input type="number" class="form-control" name="errorTrain" id="field_errorTrain"
                    ng-model="vm.logRecord.errorTrain"
                    required />
            <div ng-show="editForm.errorTrain.$invalid">
                <p class="help-block"
                    ng-show="editForm.errorTrain.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.errorTrain.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.logRecord.errorValidation" for="field_errorValidation">ErrorValidation</label>
            <input type="number" class="form-control" name="errorValidation" id="field_errorValidation"
                    ng-model="vm.logRecord.errorValidation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.logRecord.errorTest" for="field_errorTest">ErrorTest</label>
            <input type="number" class="form-control" name="errorTest" id="field_errorTest"
                    ng-model="vm.logRecord.errorTest"
                     />
        </div>

        <div class="form-group">
            <label translate="energliaApp.logRecord.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.logRecord.belongId" ng-options="specificSimulation.id as specificSimulation.id for specificSimulation in vm.specificsimulations">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
