
<div>
    <h2><span translate="energliaApp.logRecord.detail.title">LogRecord</span> {{vm.logRecord.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.logRecord.indexRecord">IndexRecord</dt></dt>
        <dd>
            <span>{{vm.logRecord.indexRecord}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.logRecord.timestamp">Timestamp</dt></dt>
        <dd>
            <span>{{vm.logRecord.timestamp}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.logRecord.errorTrain">ErrorTrain</dt></dt>
        <dd>
            <span>{{vm.logRecord.errorTrain}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.logRecord.errorValidation">ErrorValidation</dt></dt>
        <dd>
            <span>{{vm.logRecord.errorValidation}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.logRecord.errorTest">ErrorTest</dt></dt>
        <dd>
            <span>{{vm.logRecord.errorTest}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.logRecord.belong">belong</span></dt>
        <dd>
            <a ui-sref="specific-simulation-detail({id:vm.logRecord.belongId})">{{vm.logRecord.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
