<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">energlia activation</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 10px 5px; text-align:center; background-color: #F2F2F2;">

<div><img th:src="@{|${baseUrl}/content/images/logo/logo_rnasa.png|}" style="max-width:50px; margin: 40px auto;"/></div>

    <div style="display: inline-block; background-color:#FFFFFF; color: #606060; padding: 30px 60px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <h1 style="margin: 20px 0px;" th:text="#{email.energlia.activation.text1}">
            Just one more step...
        </h1>

        <p style="margin: 20px 0px;">
            <strong th:text="|${user.login}|">username</strong>
        </p>

        <h5 style="margin: 20px 0px;"
            th:text="#{email.energlia.activation.text2}">
            Click the bit button below to activate your energlia account
        </h5>

        <a style="background-color:#2BB8EB;border-radius:8px;display:inline-block; cursor:pointer; color:#ffffff; font-weight:bold; padding:13px 32px; text-decoration:none;"
           th:text="#{email.energlia.activation.button.label}"
           th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">
            Activate account
        </a>
    </div>

    <div style="margin-bottom: 20px;">
        <p th:text="#{email.energlia.address}">
            Lab RNASA-IMEDIR.<br />
            Facultad de informatica. Universidade da Coruña
        </p>
        <small style='font-family: "Brush Script MT", cursive;'
               th:text="#{email.energlia.signature}">Energlia team</small>
    </div>

</body>
</html>
