<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body  style="margin: 0; padding: 10px 5px; text-align:center; background-color: #F2F2F2;">

<div><img th:src="@{|${baseUrl}/content/images/logo/logo_rnasa.png|}" style="max-width:50px; margin: 40px auto;"/></div>


        <div style="display: inline-block; background-color:#FFFFFF; color: #606060; padding: 30px 60px; text-align:left; margin-top: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <p th:text="#{email.activation.greeting(${user.login})}">
                Dear
            </p>

            <p th:text="#{email.creation.text1}">
                Your JHipster account has been created, please click on the URL below to access it:
            </p>

            <p>
              <a style="text-decoration:none; color:#0080FF;"
                 th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
                 th:text="|${user.login}|">login</a>
            </p>

            <p style="float:left">
                <span th:text="#{email.activation.text2}">Regards, </span>
                <br/>
                <em style='font-family: "Brush Script MT", cursive;'
                    th:text="#{email.signature}">JHipster.</em>
            </p>

            <img th:src="@{|${baseUrl}/content/images/logo/logo_rnasa.png|}" style="max-width:50px; margin: 40px auto; float:right"/>

        </div>

    </body>
</html>
