
<div>
    <h2><span translate="energliaApp.simulationParam.detail.title">SimulationParam</span> {{vm.simulationParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.simulationParam.name">Name</dt></dt>
        <dd>
            <span>{{vm.simulationParam.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.simulationParam.value">Value</dt></dt>
        <dd>
            <span>{{vm.simulationParam.value}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.simulationParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="simulation-detail({id:vm.simulationParam.belongId})">{{vm.simulationParam.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
