
<div>
    <h2><span translate="energliaApp.techniqueParam.detail.title">TechniqueParam</span> {{vm.techniqueParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.techniqueParam.name">Name</dt></dt>
        <dd>
            <span>{{vm.techniqueParam.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.techniqueParam.value">Value</dt></dt>
        <dd>
            <span>{{vm.techniqueParam.value}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.techniqueParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="log-record-detail({id:vm.techniqueParam.belongId})">{{vm.techniqueParam.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
