
<div>
    <h2><span translate="energliaApp.populationParam.detail.title">PopulationParam</span> {{vm.populationParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.populationParam.name">Name</dt></dt>
        <dd>
            <span>{{vm.populationParam.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationParam.value">Value</dt></dt>
        <dd>
            <span>{{vm.populationParam.value}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="population-order-detail({id:vm.populationParam.belongId})">{{vm.populationParam.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
