
<div>
    <h2><span translate="energliaApp.sshAccount.detail.title">SshAccount</span><!-- {{vm.sshAccount.id}} --></h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.sshAccount.username">Username</span></dt></dt>
        <dd>
            <span>{{vm.sshAccount.username}}</span>
            &nbsp;
            <i class="glyphicon"
               ng-class="{'glyphicon-ok text-success': vm.sshAccount.activated,
                          'glyphicon-remove text-danger': !vm.sshAccount.activated}"></i>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshAccount.numJob">numJob</span></dt></dt>
        <dd>
            <span>{{vm.sshAccount.numJob}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshAccount.belong">belong</span></dt>
        <dd>
            <a ui-sref="ssh-server-detail({id:vm.sshAccount.belongId})">{{vm.sshAccount.belongDnsname}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
