<div>
    <h2 translate="energliaApp.sshAccount.home.title">SshAccounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ssh-account.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.sshAccount.home.createLabel">
                        Create new SshAccount
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.sshAccount.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="username"  class="text-center"><span translate="energliaApp.sshAccount.username">Username</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="key"><span translate="energliaApp.sshAccount.key">Key</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="belongDnsname"  class="text-center"><span translate="energliaApp.sshAccount.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th class="text-center"><span translate="energliaApp.sshAccount.action">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sshAccount in vm.sshAccounts track by sshAccount.id">
                    <td class="text-left">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': sshAccount.activated,
                                      'glyphicon-remove text-danger': !sshAccount.activated}"></i>
                        &nbsp;
                        <a ui-sref="ssh-account-detail({id:sshAccount.id})">{{sshAccount.username}}</a>
                    </td>
                    <!-- <td>{{sshAccount.key}}</td> -->
                    <td class="text-center">
                        <a ui-sref="ssh-server-detail({id:sshAccount.belongId})">{{sshAccount.belongDnsname}}</a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="ssh-account-detail({id:sshAccount.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ssh-account.edit({id:sshAccount.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ssh-account.delete({id:sshAccount.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
