
<div>
    <h2><span translate="energliaApp.sizeParam.detail.title">SizeParam</span> {{vm.sizeParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.sizeParam.size">Size</dt></dt>
        <dd>
            <span>{{vm.sizeParam.size}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sizeParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="population-detail({id:vm.sizeParam.belongId})">{{vm.sizeParam.belongId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sizeParam.use">use</span></dt>
        <dd>
            <a ui-sref="size-type-detail({id:vm.sizeParam.useId})">{{vm.sizeParam.useId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
