<div>
    <h2 translate="energliaApp.dataset.home.title">Datasets</h2>

    <jhi-alert></jhi-alert>

    <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dataset.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.dataset.home.createLabel">
                        Create new Dataset
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.dataset.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="timestamp" class="text-center"><span translate="energliaApp.dataset.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownerLogin"   class="text-center"><span translate="energliaApp.dataset.owner">owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="name"  class="text-center"><span translate="energliaApp.dataset.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="description"><span translate="energliaApp.dataset.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="numPattern"     class="text-center"><span translate="energliaApp.dataset.numPattern">NumPattern</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="outputFeature"  class="text-center"><span translate="energliaApp.dataset.outputFeature">OutputFeature</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputFeature"   class="text-center"><span translate="energliaApp.dataset.inputFeature">InputFeature</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numCombination" class="text-center"><span translate="energliaApp.dataset.numCombination">NumCombination</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="analyzeId"      class="text-center"><span translate="energliaApp.dataset.analyze">Analyze</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th class="text-center"><span translate="energliaApp.dataset.action">Actions</span></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataset in vm.datasets track by dataset.id">
                    <td>{{dataset.timestamp | date:'medium'}}</td>
                    <td>{{dataset.ownerLogin}}</td>
                    <!-- <td><a ui-sref="dataset-detail({id:dataset.id})">{{dataset.id}}</a></td> -->
                    <td>
                        <a ui-sref="dataset-detail({id:dataset.id})">
                            {{dataset.name}}
                        </a>
                    </td>
                    <!-- <td>{{dataset.description}}</td> -->
                    <td class="text-center">{{dataset.numPattern}}</td>
                    <td class="text-center">{{dataset.outputFeature}}</td>
                    <td class="text-center">{{dataset.inputFeature}}</td>
                    <td class="text-center">{{dataset.numCombination}}</td>

                    <td class="text-center">
                        <span translate="{{'energliaApp.dataset.analyzeType.'+dataset.analyzeName}}">
                            {{dataset.analyzeName}}
                        </span>
                    </td>

                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="dataset-detail({id:dataset.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.view"></span> -->
                            </button>
<!--
                            <button type="submit"
                                    ui-sref="dataset.edit({id:dataset.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
-->
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span> -->
                            </button>
                            <button type="submit"
                                    ui-sref="dataset.delete({id:dataset.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span> -->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
