
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDatasetLabel" translate="energliaApp.dataset.home.createOrEditLabel">Create or edit a Dataset</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>


        <div class="form-inline form-group">
            <label class="control-label" translate="energliaApp.dataset.name" for="field_name">Name</label>
            &nbsp;
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.dataset.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.dataset.description" for="field_description">Description</label>
            <textarea type="text" rows="5" class="form-control" name="description" id="field_description"
                    ng-model="vm.dataset.description"
                     ></textarea>
        </div>


        <div class="form-inline form-group">
            <label class="control-label" translate="energliaApp.dataset.analyze" for="field_analyze">Analyze</label>
            &nbsp;

            <select class="form-control" id="field_analyze" name="belong" ng-model="vm.dataset.analyzeId"
                    ng-options="analyze.id as 'energliaApp.dataset.analyzeType.'+analyze.name | translate for analyze in vm.analyzetypes" required>
                <option value=""></option>
            </select>
            <div ng-if="!vm.dataset.analyzeId">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>


        <div class="form-inline form-group">
            <label class="control-label" translate="energliaApp.dataset.numCombination" for="field_numCombination">NumCombination</label>
            &nbsp;
            <input type="number" class="form-control" name="numCombination" id="field_numCombination"
                   ng-model="vm.dataset.numCombination"
            />
            <div ng-if="!vm.dataset.numCombination || vm.dataset.numCombination <= 0">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <p><strong translate="energliaApp.dataset.usedby">Used by:</strong></p>

            <label class="control-label text-muted" for="train" disabled="true" translate="energliaApp.dataset.train">Train</label>
            <input type="checkbox" name="Train" id="train" disabled="true" readonly="true" ng-model="vm.checkTrain"/>

            <span ng-show="vm.checkTrain">
                &nbsp;
                <label class="control-label" for="validation" translate="energliaApp.dataset.validation">Validation</label>
                <input type="checkbox" name="Validation" id="validation" ng-model="vm.checkValidation"/>
            </span>

            <span ng-show="vm.checkValidation">
                &nbsp;
                <label class="control-label" for="test" translate="energliaApp.dataset.test">Test</label>
                <input type="checkbox" name="Test" id="test" ng-model="vm.checkTest"/>
            </span>
        </div>

        <div class="form-group table-responsive" ng-hide="!vm.dataset.numCombination">

            <table class="table table-striped"
                   ng-show="vm.checkTrain || vm.checkValidation || vm.checkTest">
                <thead>
                    <th><!-- Index --></th>

                    <th class="text-center" ng-show="vm.checkTrain" translate="energliaApp.dataset.train">Train</th>

                    <th class="text-center" ng-show="vm.checkValidation && vm.checkTrain" translate="energliaApp.dataset.validation">Validation</th>

                    <th class="text-center" ng-show="vm.checkTest && vm.checkValidation && vm.checkTrain" translate="energliaApp.dataset.test">Test</th>
                </thead>
                <tbody>
                    <tr ng-repeat="_ in ((_ = []) && (_.length=vm.dataset.numCombination) && _) track by $index">
                        <td>
                            <strong translate="energliaApp.dataset.combination"
                                    translate-values="{id: '{{$index}}'}">
                                Combination {{$index}}
                            </strong>
                        </td>


                        <td class="text-center" ng-show="vm.checkTrain">
                            <p>
                                <span ng-if="vm.traininfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.trainin"
                                          translate-values="{id: '{{$index}}'}">
                                        Train input {{$index}}
                                    </span>
                                    <button ng-click="vm.traininfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.traininfile, $index)"
                                        translate="energliaApp.dataset.button.trainin"
                                        translate-values="{id: '{{$index}}'}">
                                    Train input {{$index}}
                                </button>
                            </p>

                            <p>
                                <span ng-if="vm.trainoutfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.trainout"
                                          translate-values="{id: '{{$index}}'}">
                                        Train output {{$index}}
                                    </span>
                                    <button ng-click="vm.trainoutfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.trainoutfile, $index)"
                                        translate="energliaApp.dataset.button.trainout"
                                        translate-values="{id: '{{$index}}'}">
                                    Train output {{$index}}
                                </button>
                            </p>
                        </td>


                        <td class="text-center" ng-show="vm.checkValidation && vm.checkTrain">
                            <p>
                                <span ng-if="vm.validationinfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.validationin"
                                          translate-values="{id: '{{$index}}'}">
                                        Validation input {{$index}}
                                    </span>
                                    <button ng-click="vm.validationinfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.validationinfile, $index)"
                                        translate="energliaApp.dataset.button.validationin"
                                        translate-values="{id: '{{$index}}'}">
                                    Validation input {{$index}}
                                </button>
                            </p>

                            <p>
                                <span ng-if="vm.validationoutfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.validationout"
                                          translate-values="{id: '{{$index}}'}">
                                        Validation output {{$index}}
                                    </span>
                                    <button ng-click="vm.validationoutfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.validationoutfile, $index)"
                                        translate="energliaApp.dataset.button.validationout"
                                        translate-values="{id: '{{$index}}'}">
                                    Validation output {{$index}}
                                </button>
                            </p>
                        </td>

                        <td class="text-center" ng-show="vm.checkTest && vm.checkValidation && vm.checkTrain">
                            <p>
                                <span ng-if="vm.testinfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.testin"
                                          translate-values="{id: '{{$index}}'}">
                                        Test input {{$index}}
                                    </span>
                                    <button ng-click="vm.testinfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.testinfile, $index)"
                                        translate="energliaApp.dataset.button.testin"
                                        translate-values="{id: '{{$index}}'}">
                                    Test input {{$index}}
                                </button>
                            </p>

                            <p>
                                <span ng-if="vm.testoutfile[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.dataset.button.testout"
                                          translate-values="{id: '{{$index}}'}">
                                        Test output {{$index}}
                                    </span>
                                    <button ng-click="vm.testoutfile[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.testoutfile, $index)"
                                        translate="energliaApp.dataset.button.testout"
                                        translate-values="{id: '{{$index}}'}">
                                    Test output {{$index}}
                                </button>
                            </p>
                        </td>

                    </tr>
                </tbody>
            </table>

<!--
            <p ng-repeat="t in vm.traininfile track by $index" >value({{$index}}) = {{t}}</p>
            <p ng-repeat="t in vm.trainoutfile track by $index">value({{$index}}) = {{t}}</p>

            <p ng-repeat="t in vm.validationinfile track by $index" >value({{$index}}) = {{t}}</p>
            <p ng-repeat="t in vm.validationoutfile track by $index">value({{$index}}) = {{t}}</p>

            <p ng-repeat="t in vm.testinfile track by $index" >value({{$index}}) = {{t}}</p>
            <p ng-repeat="t in vm.testoutfile track by $index">value({{$index}}) = {{t}}</p>
-->

        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
