<div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
                {{alert.msg}}
            </uib-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <h2 translate="energliaApp.dataset.detail.title">Dataset</h2>
        </div>

        <div class="col-xs-8 text-right">
            <button ng-hide="vm.share" ng-click="vm.share = true"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-share"></span>&nbsp;<span translate="entity.action.share"> Share</span>
            </button>

            <form class="form-inline inline" ng-show="vm.share">
                <label for="inputLogin" translate="entity.action.shareWith">Share with</label>
                <input class="form-control" id="inputLogin"
                       ng-model="vm.loginname" required
                       placeholder="{{ 'energliaApp.dataset.loginname' | translate }}"/>


                <button ng-click="vm.share = false" type="button"
                        class="btn btn-default">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel"> Cancel</span>
                </button>
                <button ng-click="vm.shareDataset()" type="submit"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;<span translate="entity.action.share"> Share</span>
                </button>
        </div>
    </div>

    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.dataset.name">Name</span></dt>
        <dd>
            <span>{{vm.dataset.name}}</span>
        </dd>


        <hr>
        <dt>
            <span translate="energliaApp.dataset.description">Description</span>
            <br />
            <button class="btn btn-primary"
                    ng-hide="vm.edit"
                    ng-click="vm.changeEdit()"
                    title="{{ 'entity.action.edit' | translate }}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>

        </dt>
        <dd>
            <span ng-hide="vm.edit" ng-bind-html="vm.dataset.description"></span>

            <textarea type="text" rows="5"
                      ng-show="vm.edit"
                      class="form-control"
                      name="description"
                      id="field_description"
                      ng-model="vm.editDescription">
            </textarea>
            <br />

            <div class="text-right" ng-show="vm.edit">
                <button class="btn btn-default"
                        ng-click="vm.changeEdit()"
                        title="{{ 'entity.action.cancel' | translate }}">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.cancel"></span>
                </button>
                <button class="btn btn-primary"
                        ng-click="vm.update()"
                        title="{{ 'entity.action.save' | translate }}">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.save"></span>
                </button>
            </div>


        </dd>

        <hr>
        <dt>
            <span translate="energliaApp.dataset.analyze">Analyze</span>
        </dt>
        <dd>
            <span translate="{{'energliaApp.dataset.analyzeType.'+vm.dataset.analyzeName}}">
                {{vm.dataset.analyzeName}}
            </span>
        </dd>



        <span ng-if="vm.dataset.numClass">
            <hr />
            <dt><span translate="energliaApp.dataset.numClass">Num Classes</span></dt>
            <dd>{{vm.dataset.numClass}}</dd>
        </span>

        <hr>
        <dt><span translate="energliaApp.dataset.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{vm.dataset.timestamp | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.dataset.numPattern">NumPattern</span></dt>
        <dd>
            <span>{{vm.dataset.numPattern}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.dataset.outputFeature">OutputFeature</span></dt>
        <dd>
            <span>{{vm.dataset.outputFeature}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.dataset.inputFeature">InputFeature</span></dt>
        <dd>
            <span>{{vm.dataset.inputFeature}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.dataset.numCombination">NumCombination</span></dt>
        <dd>
            <span>{{vm.dataset.numCombination}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.dataset.owner">owner</span></dt>
        <dd>
            {{vm.dataset.ownerLogin}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
