
<div>
    <h2><span translate="energliaApp.application.detail.title">Application</span> <!-- {{vm.application.id}} --> </h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.application.name">Name</span></dt></dt>
        <dd>
            <span>{{vm.application.name}}</span>
            &nbsp;
            <i class="glyphicon"
               ng-class="{ 'glyphicon-ok text-success': vm.application.activated, 'glyphicon-remove text-danger': !vm.application.activated}"></i>
        </dd>
        <hr>
        <dt><span translate="energliaApp.application.version">Version</span></dt></dt>
        <dd>
            <span>{{vm.application.version}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.application.timestamp">Timestamp</span></dt></dt>
        <dd>
            <span>{{vm.application.timestamp | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.application.feature">Feature</span></dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.application.featureContentType, vm.application.feature)" ng-if="vm.application.feature" target="_blank">open</a>
            <div>{{vm.application.featureContentType}}, {{vm.byteSize(vm.application.feature)}}</div>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
