<div>
    <h2 translate="energliaApp.application.home.title">Applications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="application.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.application.home.createLabel">
                        Create new Application
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.application.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="name"      class="text-center"><span translate="energliaApp.application.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="version"   class="text-center"><span translate="energliaApp.application.version">Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timestamp" class="text-center"><span translate="energliaApp.application.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="feature"   class="text-center"><span translate="energliaApp.application.feature">Feature</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th class="text-center"><span translate="energliaApp.application.action">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in vm.applications track by application.id">
                    <!-- <td><a ui-sref="application-detail({id:application.id})">{{application.id}}</a></td>-->
                    <td class="text-left">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': application.activated,
                                      'glyphicon-remove text-danger': !application.activated}"></i>
                        &nbsp;
                        <a ui-sref="application-detail({id:application.id})">{{application.name}}</a>
                    </td>
                    <td class="text-center">{{application.version}}</td>
                    <td class="text-center">{{application.timestamp | date:'medium'}}</td>
                    <td class="text-center">
                        <a ng-click="vm.openFile(application.featureContentType, application.feature)"
                           ng-if="application.feature"
                           target="_blank">
                            open
                        </a>
                        {{application.featureContentType}}, {{byteSize(application.feature)}}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="application-detail({id:application.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application.edit({id:application.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="application.delete({id:application.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
