
<div>
    <h2><span translate="energliaApp.gaParam.detail.title">GaParam</span> {{vm.gaParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.gaParam.name">Name</dt></dt>
        <dd>
            <span>{{vm.gaParam.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.gaParam.value">Value</dt></dt>
        <dd>
            <span>{{vm.gaParam.value}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.gaParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="ga-detail({id:vm.gaParam.belongId})">{{vm.gaParam.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
