
<div>
    <h2><span translate="energliaApp.sizeType.detail.title">SizeType</span> {{vm.sizeType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.sizeType.name">Name</dt></dt>
        <dd>
            <span>{{vm.sizeType.name}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
