
<div>
    <h2><span translate="energliaApp.datasetCombination.detail.title">DatasetCombination</span> {{vm.datasetCombination.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.datasetCombination.indexCombination">IndexCombination</dt></dt>
        <dd>
            <span>{{vm.datasetCombination.indexCombination}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.trainfilein">Trainfilein</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.trainfileinContentType, vm.datasetCombination.trainfilein)" ng-if="vm.datasetCombination.trainfilein" target="_blank">open</a>
            <div>{{vm.datasetCombination.trainfileinContentType}}, {{vm.byteSize(vm.datasetCombination.trainfilein)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.trainfileout">Trainfileout</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.trainfileoutContentType, vm.datasetCombination.trainfileout)" ng-if="vm.datasetCombination.trainfileout" target="_blank">open</a>
            <div>{{vm.datasetCombination.trainfileoutContentType}}, {{vm.byteSize(vm.datasetCombination.trainfileout)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.validationfilein">Validationfilein</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.validationfileinContentType, vm.datasetCombination.validationfilein)" ng-if="vm.datasetCombination.validationfilein" target="_blank">open</a>
            <div>{{vm.datasetCombination.validationfileinContentType}}, {{vm.byteSize(vm.datasetCombination.validationfilein)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.validationfileout">Validationfileout</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.validationfileoutContentType, vm.datasetCombination.validationfileout)" ng-if="vm.datasetCombination.validationfileout" target="_blank">open</a>
            <div>{{vm.datasetCombination.validationfileoutContentType}}, {{vm.byteSize(vm.datasetCombination.validationfileout)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.testfilein">Testfilein</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.testfileinContentType, vm.datasetCombination.testfilein)" ng-if="vm.datasetCombination.testfilein" target="_blank">open</a>
            <div>{{vm.datasetCombination.testfileinContentType}}, {{vm.byteSize(vm.datasetCombination.testfilein)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.testfileout">Testfileout</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.datasetCombination.testfileoutContentType, vm.datasetCombination.testfileout)" ng-if="vm.datasetCombination.testfileout" target="_blank">open</a>
            <div>{{vm.datasetCombination.testfileoutContentType}}, {{vm.byteSize(vm.datasetCombination.testfileout)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.datasetCombination.belong">belong</span></dt>
        <dd>
            <a ui-sref="dataset-detail({id:vm.datasetCombination.belongId})">{{vm.datasetCombination.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
