
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDatasetCombinationLabel" translate="energliaApp.datasetCombination.home.createOrEditLabel">Create or edit a DatasetCombination</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.datasetCombination.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.datasetCombination.indexCombination" for="field_indexCombination">IndexCombination</label>
            <input type="number" class="form-control" name="indexCombination" id="field_indexCombination"
                    ng-model="vm.datasetCombination.indexCombination"
                    required />
            <div ng-show="editForm.indexCombination.$invalid">
                <p class="help-block"
                    ng-show="editForm.indexCombination.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.indexCombination.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTrainfilein($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.trainfilein" for="field_trainfilein">Trainfilein</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.trainfileinContentType, vm.datasetCombination.trainfilein)" ng-if="vm.datasetCombination.trainfilein" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.trainfileinContentType}}, {{byteSize(vm.datasetCombination.trainfilein)}}</span>
                    <button ng-click="vm.datasetCombination.trainfilein=null;vm.datasetCombination.trainfileinContentType=null;"
                            ng-if="vm.datasetCombination.trainfilein"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTrainfilein($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="trainfilein" id="field_trainfilein"
                    ng-model="vm.datasetCombination.trainfilein"
                    required />
            <input type="hidden" class="form-control" name="trainfileinContentType" id="field_trainfileinContentType"
                    ng-model="vm.datasetCombination.trainfileinContentType" />
            <div ng-show="editForm.trainfilein.$invalid">
                <p class="help-block"
                    ng-show="editForm.trainfilein.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTrainfileout($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.trainfileout" for="field_trainfileout">Trainfileout</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.trainfileoutContentType, vm.datasetCombination.trainfileout)" ng-if="vm.datasetCombination.trainfileout" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.trainfileoutContentType}}, {{byteSize(vm.datasetCombination.trainfileout)}}</span>
                    <button ng-click="vm.datasetCombination.trainfileout=null;vm.datasetCombination.trainfileoutContentType=null;"
                            ng-if="vm.datasetCombination.trainfileout"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTrainfileout($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="trainfileout" id="field_trainfileout"
                    ng-model="vm.datasetCombination.trainfileout"
                    required />
            <input type="hidden" class="form-control" name="trainfileoutContentType" id="field_trainfileoutContentType"
                    ng-model="vm.datasetCombination.trainfileoutContentType" />
            <div ng-show="editForm.trainfileout.$invalid">
                <p class="help-block"
                    ng-show="editForm.trainfileout.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setValidationfilein($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.validationfilein" for="field_validationfilein">Validationfilein</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.validationfileinContentType, vm.datasetCombination.validationfilein)" ng-if="vm.datasetCombination.validationfilein" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.validationfileinContentType}}, {{byteSize(vm.datasetCombination.validationfilein)}}</span>
                    <button ng-click="vm.datasetCombination.validationfilein=null;vm.datasetCombination.validationfileinContentType=null;"
                            ng-if="vm.datasetCombination.validationfilein"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setValidationfilein($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="validationfilein" id="field_validationfilein"
                    ng-model="vm.datasetCombination.validationfilein"
                     />
            <input type="hidden" class="form-control" name="validationfileinContentType" id="field_validationfileinContentType"
                    ng-model="vm.datasetCombination.validationfileinContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setValidationfileout($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.validationfileout" for="field_validationfileout">Validationfileout</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.validationfileoutContentType, vm.datasetCombination.validationfileout)" ng-if="vm.datasetCombination.validationfileout" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.validationfileoutContentType}}, {{byteSize(vm.datasetCombination.validationfileout)}}</span>
                    <button ng-click="vm.datasetCombination.validationfileout=null;vm.datasetCombination.validationfileoutContentType=null;"
                            ng-if="vm.datasetCombination.validationfileout"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setValidationfileout($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="validationfileout" id="field_validationfileout"
                    ng-model="vm.datasetCombination.validationfileout"
                     />
            <input type="hidden" class="form-control" name="validationfileoutContentType" id="field_validationfileoutContentType"
                    ng-model="vm.datasetCombination.validationfileoutContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTestfilein($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.testfilein" for="field_testfilein">Testfilein</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.testfileinContentType, vm.datasetCombination.testfilein)" ng-if="vm.datasetCombination.testfilein" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.testfileinContentType}}, {{byteSize(vm.datasetCombination.testfilein)}}</span>
                    <button ng-click="vm.datasetCombination.testfilein=null;vm.datasetCombination.testfileinContentType=null;"
                            ng-if="vm.datasetCombination.testfilein"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTestfilein($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="testfilein" id="field_testfilein"
                    ng-model="vm.datasetCombination.testfilein"
                     />
            <input type="hidden" class="form-control" name="testfileinContentType" id="field_testfileinContentType"
                    ng-model="vm.datasetCombination.testfileinContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setTestfileout($file, vm.datasetCombination)">
            <label class="control-label" translate="energliaApp.datasetCombination.testfileout" for="field_testfileout">Testfileout</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.datasetCombination.testfileoutContentType, vm.datasetCombination.testfileout)" ng-if="vm.datasetCombination.testfileout" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.datasetCombination.testfileoutContentType}}, {{byteSize(vm.datasetCombination.testfileout)}}</span>
                    <button ng-click="vm.datasetCombination.testfileout=null;vm.datasetCombination.testfileoutContentType=null;"
                            ng-if="vm.datasetCombination.testfileout"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setTestfileout($file, vm.datasetCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="testfileout" id="field_testfileout"
                    ng-model="vm.datasetCombination.testfileout"
                     />
            <input type="hidden" class="form-control" name="testfileoutContentType" id="field_testfileoutContentType"
                    ng-model="vm.datasetCombination.testfileoutContentType" />
        </div>

        <div class="form-group">
            <label translate="energliaApp.datasetCombination.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.datasetCombination.belongId" ng-options="dataset.id as dataset.id for dataset in vm.datasets">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
