<div>
    <h2 translate="energliaApp.datasetCombination.home.title">DatasetCombinations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dataset-combination.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.datasetCombination.home.createLabel">
                        Create new DatasetCombination
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.datasetCombination.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="indexCombination"><span translate="energliaApp.datasetCombination.indexCombination">IndexCombination</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trainfilein"><span translate="energliaApp.datasetCombination.trainfilein">Trainfilein</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trainfileout"><span translate="energliaApp.datasetCombination.trainfileout">Trainfileout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="validationfilein"><span translate="energliaApp.datasetCombination.validationfilein">Validationfilein</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="validationfileout"><span translate="energliaApp.datasetCombination.validationfileout">Validationfileout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="testfilein"><span translate="energliaApp.datasetCombination.testfilein">Testfilein</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="testfileout"><span translate="energliaApp.datasetCombination.testfileout">Testfileout</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="belongId"><span translate="energliaApp.datasetCombination.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datasetCombination in vm.datasetCombinations track by datasetCombination.id">
                    <td><a ui-sref="dataset-combination-detail({id:datasetCombination.id})">{{datasetCombination.id}}</a></td>
                    <td>{{datasetCombination.indexCombination}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.trainfileinContentType, datasetCombination.trainfilein)" ng-if="datasetCombination.trainfilein" target="_blank">open</a>
                        {{datasetCombination.trainfileinContentType}}, {{byteSize(datasetCombination.trainfilein)}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.trainfileoutContentType, datasetCombination.trainfileout)" ng-if="datasetCombination.trainfileout" target="_blank">open</a>
                        {{datasetCombination.trainfileoutContentType}}, {{byteSize(datasetCombination.trainfileout)}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.validationfileinContentType, datasetCombination.validationfilein)" ng-if="datasetCombination.validationfilein" target="_blank">open</a>
                        {{datasetCombination.validationfileinContentType}}, {{byteSize(datasetCombination.validationfilein)}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.validationfileoutContentType, datasetCombination.validationfileout)" ng-if="datasetCombination.validationfileout" target="_blank">open</a>
                        {{datasetCombination.validationfileoutContentType}}, {{byteSize(datasetCombination.validationfileout)}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.testfileinContentType, datasetCombination.testfilein)" ng-if="datasetCombination.testfilein" target="_blank">open</a>
                        {{datasetCombination.testfileinContentType}}, {{byteSize(datasetCombination.testfilein)}}</td>
                    <td><a ng-click="vm.openFile(datasetCombination.testfileoutContentType, datasetCombination.testfileout)" ng-if="datasetCombination.testfileout" target="_blank">open</a>
                        {{datasetCombination.testfileoutContentType}}, {{byteSize(datasetCombination.testfileout)}}</td>
                    <td>
                        <a ui-sref="dataset-detail({id:datasetCombination.belongId})">{{datasetCombination.belongId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dataset-combination-detail({id:datasetCombination.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dataset-combination.edit({id:datasetCombination.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dataset-combination.delete({id:datasetCombination.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
