
<div>
    <h2><span translate="energliaApp.execParam.detail.title">ExecParam</span> {{vm.execParam.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.execParam.name">Name</dt></dt>
        <dd>
            <span>{{vm.execParam.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.execParam.value">Value</dt></dt>
        <dd>
            <span>{{vm.execParam.value}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.execParam.belong">belong</span></dt>
        <dd>
            <a ui-sref="simulation-detail({id:vm.execParam.belongId})">{{vm.execParam.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
