
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPopulationOrderLabel" translate="energliaApp.populationOrder.home.createOrEditLabel">Create or edit a PopulationOrder</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.populationOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.populationOrder.indexOrder" for="field_indexOrder">IndexOrder</label>
            <input type="number" class="form-control" name="indexOrder" id="field_indexOrder"
                    ng-model="vm.populationOrder.indexOrder"
                    required />
            <div ng-show="editForm.indexOrder.$invalid">
                <p class="help-block"
                    ng-show="editForm.indexOrder.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.indexOrder.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="energliaApp.populationOrder.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.populationOrder.belongId" ng-options="ga.id as ga.id for ga in vm.gas">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="energliaApp.populationOrder.use" for="field_use">use</label>
            <select class="form-control" id="field_use" name="use" ng-model="vm.populationOrder.useId" ng-options="population.id as population.id for population in vm.populations">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
