
<div>
    <h2><span translate="energliaApp.populationOrder.detail.title">PopulationOrder</span> {{vm.populationOrder.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.populationOrder.indexOrder">IndexOrder</dt></dt>
        <dd>
            <span>{{vm.populationOrder.indexOrder}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationOrder.belong">belong</span></dt>
        <dd>
            <a ui-sref="ga-detail({id:vm.populationOrder.belongId})">{{vm.populationOrder.belongId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationOrder.use">use</span></dt>
        <dd>
            <a ui-sref="population-detail({id:vm.populationOrder.useId})">{{vm.populationOrder.useId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
