<footer class="footer">

    <div class="center-block text-center">
        <span ng-repeat="l in vm.logo track by $index">
            <a ng-href="{{vm.link[$index]}}" target="_blank">
                <img ng-src="content/images/logo/{{vm.logo[$index]}}" class="logoAcknowledgment img-rounded"/>
            </a>
            &nbsp;
        </span>
    </div>

    <!--<p class="text-center" translate="footer">This is your footer</p>-->
</footer>
