
<div>
    <h2><span translate="energliaApp.populationCombination.detail.title">PopulationCombination</span> {{vm.populationCombination.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.populationCombination.index">Index</dt></dt>
        <dd>
            <span>{{vm.populationCombination.index}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationCombination.file">File</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.populationCombination.fileContentType, vm.populationCombination.file)" ng-if="vm.populationCombination.file" target="_blank">open</a>
            <div>{{vm.populationCombination.fileContentType}}, {{vm.byteSize(vm.populationCombination.file)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationCombination.belong">belong</span></dt>
        <dd>
            <a ui-sref="population-detail({id:vm.populationCombination.belongId})">{{vm.populationCombination.belongId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
