
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPopulationCombinationLabel" translate="energliaApp.populationCombination.home.createOrEditLabel">Create or edit a PopulationCombination</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.populationCombination.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.populationCombination.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.populationCombination.index"
                    required />
            <div ng-show="editForm.index.$invalid">
                <p class="help-block"
                    ng-show="editForm.index.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.index.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.populationCombination)">
            <label class="control-label" translate="energliaApp.populationCombination.file" for="field_file">File</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.populationCombination.fileContentType, vm.populationCombination.file)" ng-if="vm.populationCombination.file" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.populationCombination.fileContentType}}, {{byteSize(vm.populationCombination.file)}}</span>
                    <button ng-click="vm.populationCombination.file=null;vm.populationCombination.fileContentType=null;"
                            ng-if="vm.populationCombination.file"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.populationCombination)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.populationCombination.file"
                    required />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.populationCombination.fileContentType" />
            <div ng-show="editForm.file.$invalid">
                <p class="help-block"
                    ng-show="editForm.file.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="energliaApp.populationCombination.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.populationCombination.belongId" ng-options="population.id as population.id for population in vm.populations">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
