
<div>
    <h2><span translate="energliaApp.populationCombinationOrder.detail.title">PopulationCombinationOrder</span> {{vm.populationCombinationOrder.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.populationCombinationOrder.indexOrder">IndexOrder</dt></dt>
        <dd>
            <span>{{vm.populationCombinationOrder.indexOrder}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationCombinationOrder.belong">belong</span></dt>
        <dd>
            <a ui-sref="specific-simulation-detail({id:vm.populationCombinationOrder.belongId})">{{vm.populationCombinationOrder.belongId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.populationCombinationOrder.use">use</span></dt>
        <dd>
            <a ui-sref="population-combination-detail({id:vm.populationCombinationOrder.useId})">{{vm.populationCombinationOrder.useId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
