<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="activate.title">Activation</h1>

            <div class="alert alert-success" ng-show="vm.success" translate="activate.messages.success" translate-compile>
                <strong>Your user has been activated.</strong> Please <a class="alert-link" href="" ng-click="vm.login">sign in</a>.
            </div>

            <div class="alert alert-danger" ng-show="vm.error" translate="activate.messages.error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>

    <div class="row">
        <div ng-show="vm.isAuthenticated()"
             class="col-md-8 col-md-offset-2">
            <a class="btn btn-info" href="/" translate="activate.messages.goHome" translate-compile>Main page</a>
        </div>
    </div>


</div>
