<div>
    <h2 translate="energliaApp.sshServer.home.title">SshServers</h2>

    <jhi-alert></jhi-alert>

    <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
        {{alert.msg}}
    </uib-alert>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ssh-server.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.sshServer.home.createLabel">
                        Create new SshServer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.sshServer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="dnsname" class="text-center"><span translate="energliaApp.sshServer.dnsname">Dnsname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="port" class="text-center"><span translate="energliaApp.sshServer.port">Port</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="fingerprint"><span translate="energliaApp.sshServer.fingerprint">Fingerprint</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="maxJob"    class="text-center"><span translate="energliaApp.sshServer.maxJob">MaxJob</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxProc"   class="text-center"><span translate="energliaApp.sshServer.maxProc">MaxProc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxTime"   class="text-center"><span translate="energliaApp.sshServer.maxTime">MaxTime</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--
                    <th jh-sort-by="maxSpace"  class="text-center"><span translate="energliaApp.sshServer.maxSpace">MaxSpace</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxMemory" class="text-center"><span translate="energliaApp.sshServer.maxMemory">MaxMemory</span> <span class="glyphicon glyphicon-sort"></span></th>
-->
                    <th jh-sort-by="maxConnection" class="text-center"><span translate="energliaApp.sshServer.maxConnection">maxConnection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="useId"     class="text-center"><span translate="energliaApp.sshServer.use">use</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th class="text-center"><span translate="energliaApp.sshServer.action">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sshServer in vm.sshServers track by sshServer.id">
                    <!-- <td><a ui-sref="ssh-server-detail({id:sshServer.id})">{{sshServer.id}}</a></td> -->
                    <td class="text-left">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': sshServer.activated,
                                      'glyphicon-remove text-danger': !sshServer.activated}"></i>
                        &nbsp;
                        <a ui-sref="ssh-server-detail({id:sshServer.id})">{{sshServer.dnsname}}</a>
                    </td>
                    <td class="text-center">{{sshServer.port}}</td>
                    <!-- <td>{{sshServer.fingerprint}}</td> -->
                    <td class="text-center">{{sshServer.maxJob}}</td>
                    <td class="text-center">{{sshServer.maxProc}}</td>
                    <td class="text-center">{{sshServer.maxTime}}</td>
<!--
                    <td class="text-center">{{sshServer.maxSpace}}</td>
                    <td class="text-center">{{sshServer.maxMemory}}</td>
-->
                    <td class="text-center">
                        <uib-progressbar value="sshServer.numConnection" max="sshServer.maxConnection">
                            {{sshServer.numConnection}}/{{sshServer.maxConnection}}
                        </uib-progressbar>
                    </td>

                    <td class="text-center">
                        <a ui-sref="queue-type-detail({id:sshServer.useId})">{{sshServer.useName}}</a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="ssh-server-detail({id:sshServer.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.view"></span> -->
                            </button>
                            <button type="submit"
                                    ui-sref="ssh-server.edit({id:sshServer.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span> -->
                            </button>
                            <button type="submit"
                                    ui-sref="ssh-server.delete({id:sshServer.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
<!-- <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span> -->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
