
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySshServerLabel" translate="energliaApp.sshServer.home.createOrEditLabel">Create or edit a SshServer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.dnsname" for="field_dnsname">Dnsname</label>
            <input type="text" class="form-control" name="dnsname" id="field_dnsname"
                    ng-model="vm.sshServer.dnsname"
                    required />
            <div ng-show="editForm.dnsname.$invalid">
                <p class="help-block"
                    ng-show="editForm.dnsname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.port" for="field_port">Port</label>
            <input type="number" class="form-control" name="port" id="field_port"
                   ng-model="vm.sshServer.port"
                   required />
            <div ng-show="editForm.port.$invalid">
                <p class="help-block"
                   ng-show="editForm.port.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.fingerprint" for="field_fingerprint">Fingerprint</label>
            <input type="text" class="form-control" name="fingerprint" id="field_fingerprint"
                    ng-model="vm.sshServer.fingerprint"
                    required ng-minlength="47" ng-maxlength="47" />
            <div ng-show="editForm.fingerprint.$invalid">
                <p class="help-block"
                    ng-show="editForm.fingerprint.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fingerprint.$error.minlength" translate="entity.validation.minlength" translate-value-min="47">
                    This field is required to be at least 47 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.fingerprint.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="47">
                    This field cannot be longer than 47 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxJob" for="field_maxJob">MaxJob</label>
            <input type="number" class="form-control" name="maxJob" id="field_maxJob"
                    ng-model="vm.sshServer.maxJob"
                    required />
            <div ng-show="editForm.maxJob.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxJob.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxJob.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxTime" for="field_maxTime">MaxTime</label>
            <input type="number" class="form-control" name="maxTime" id="field_maxTime"
                   ng-model="vm.sshServer.maxTime"
                   required />
            <div ng-show="editForm.maxTime.$invalid">
                <p class="help-block"
                   ng-show="editForm.maxTime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.maxTime.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxProc" for="field_maxProc">MaxProc</label>
            <input type="number" class="form-control" name="maxProc" id="field_maxProc"
                   ng-model="vm.sshServer.maxProc"
                   required />
            <div ng-show="editForm.maxProc.$invalid">
                <p class="help-block"
                   ng-show="editForm.maxProc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.maxProc.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxSpace" for="field_maxSpace">MaxSpace</label>
            <input type="number" class="form-control" name="maxSpace" id="field_maxSpace"
                    ng-model="vm.sshServer.maxSpace"
                    required />
            <div ng-show="editForm.maxSpace.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxSpace.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxSpace.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxMemory" for="field_maxMemory">MaxMemory</label>
            <input type="number" class="form-control" name="maxMemory" id="field_maxMemory"
                    ng-model="vm.sshServer.maxMemory"
                    required />
            <div ng-show="editForm.maxMemory.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxMemory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxMemory.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.maxConnection" for="field_maxConnection">maxConnection</label>
            <input type="number" class="form-control" name="maxConnection" id="field_maxConnection"
                   ng-model="vm.sshServer.maxConnection"
                   required />
            <div ng-show="editForm.maxConnection.$invalid">
                <p class="help-block"
                   ng-show="editForm.maxConnection.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.maxConnection.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.sshServer.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="vm.sshServer.activated"
                     />
            <div ng-show="editForm.activated.$invalid">
                <p class="help-block"
                    ng-show="editForm.activated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="energliaApp.sshServer.use" for="field_use">use</label>
            <select class="form-control" id="field_use" name="use" ng-model="vm.sshServer.useId" ng-options="queueType.id as queueType.name for queueType in vm.queuetypes">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
