
<div>
    <h2><span translate="energliaApp.sshServer.detail.title">SshServer</span><!-- {{vm.sshServer.id}} --></h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.sshServer.dnsname">Dnsname</span></dt>
        <dd>
            <span>{{vm.sshServer.dnsname}}</span>
            &nbsp;
            <i class="glyphicon"
               ng-class="{'glyphicon-ok text-success': vm.sshServer.activated,
                                      'glyphicon-remove text-danger': !vm.sshServer.activated}"></i>

            </i>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.port">Port</span></dt>
        <dd>
            <span>{{vm.sshServer.port}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.fingerprint">Fingerprint</span></dt>
        <dd>
            <span>{{vm.sshServer.fingerprint}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.maxJob">MaxJob</span></dt>
        <dd>
            <span>{{vm.sshServer.maxJob}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.maxProc">MaxProc</span></dt>
        <dd>
            <span>{{vm.sshServer.maxProc}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.maxTime">MaxTime</span></dt>
        <dd>
            <span>{{vm.sshServer.maxTime}}</span>
        </dd>
<!--
        <hr>
        <dt><span translate="energliaApp.sshServer.maxSpace">MaxSpace</span></dt>
        <dd>
            <span>{{vm.sshServer.maxSpace}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.maxMemory">MaxMemory</span></dt>
        <dd>
            <span>{{vm.sshServer.maxMemory}}</span>
        </dd>
-->
        <hr>
        <dt><span translate="energliaApp.sshServer.connection">Connection</span></dt>
        <dd>
            <uib-progressbar value="vm.sshServer.numConnection" max="vm.sshServer.maxConnection">
                {{vm.sshServer.numConnection}}/{{vm.sshServer.maxConnection}}
            </uib-progressbar>
        </dd>
        <hr>
        <dt><span translate="energliaApp.sshServer.use">use</span></dt>
        <dd>
            <a ui-sref="queue-type-detail({id:vm.sshServer.useId})">{{vm.sshServer.useName}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
