<!--
<div class="alert alert-info" ng-show="vm.isAuthenticated()" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
    You are logged in as user "{{vm.account.login}}".
</div>
-->

<div ng-switch="vm.isAuthenticated()" ng-cloak>

    <div class="row" ng-switch-when="false">

        <div class="col-md-5 text-center">
            <span class="home-logo img-responsive img-rounded"></span>
            <br />
            <div class="alert alert-warning" translate="global.messages.info.start" translate-compile>
                You can <a class="alert-link" href="" ng-click="vm.login()">sign in</a>. <br />
                You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
            </div>
        </div>

        <div class="col-md-7">
            <div>
                <h1 translate="home.title">Welcome, Java Hipster!</h1>
                <p  class="lead text-justify" translate="home.subtitle">This is your homepage</p>
            </div>
        </div>

    </div>


    <div ng-switch-when="true">

        <div class="row" >
            <div class="col-xs-6 col-md-3"  ng-repeat="l in vm.userOption track by $index">
                <div class="thumbnail">
                    <a href="{{l.href}}" class="thumbnail">
                        <img ng-src="{{l.img}}">
                    </a>
                    <div class="caption">
                        <a href="{{l.href}}">
                            <h3 class="text-center" translate="home.option.{{l.section}}.title"></h3>
                        </a>
                        <p class="text-justify" translate="home.option.{{l.section}}.description"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row" role="group" ng-class="{active: vm.vm.$state.includes('admin')}"  has-authority="ROLE_ADMIN" class="media">

            <div class="col-xs-6 col-md-3"  ng-repeat="l in vm.adminOption track by $index">
                <div class="thumbnail">
                    <a href="{{l.href}}" class="thumbnail">
                        <img ng-src="{{l.img}}" >
                    </a>
                    <div class="caption">
                        <a href="{{l.href}}">
                            <h3 class="text-center" translate="home.option.{{l.section}}.title"></h3>
                        </a>
                        <p class="text-justify" translate="home.option.{{l.section}}.description"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
