
<div>
    <h2><span translate="energliaApp.simulationStatusType.detail.title">SimulationStatusType</span> {{vm.simulationStatusType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.simulationStatusType.name">Name</dt></dt>
        <dd>
            <span>{{vm.simulationStatusType.name}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
