body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
css preloader
========================================================================== */
.cssload-loader {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 96.284271247462px;
    height: 96.284271247462px;
    margin-left: -48.142135623731px;
    margin-top: -48.142135623731px;
    border-radius: 100%;
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-duration: 4.6s;
    -o-animation-duration: 4.6s;
    -ms-animation-duration: 4.6s;
    -webkit-animation-duration: 4.6s;
    -moz-animation-duration: 4.6s;
}
.cssload-loader .cssload-side {
    display: block;
    width: 12px;
    height: 40px;
    background-color: rgb(4,99,128);
    margin: 4px;
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.73s;
    -o-animation-duration: 1.73s;
    -ms-animation-duration: 1.73s;
    -webkit-animation-duration: 1.73s;
    -moz-animation-duration: 1.73s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
}
.cssload-loader .cssload-side:nth-child(1),
.cssload-loader .cssload-side:nth-child(5) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    animation-name: cssload-rotate0;
    -o-animation-name: cssload-rotate0;
    -ms-animation-name: cssload-rotate0;
    -webkit-animation-name: cssload-rotate0;
    -moz-animation-name: cssload-rotate0;
}
.cssload-loader .cssload-side:nth-child(3),
.cssload-loader .cssload-side:nth-child(7) {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    animation-name: cssload-rotate90;
    -o-animation-name: cssload-rotate90;
    -ms-animation-name: cssload-rotate90;
    -webkit-animation-name: cssload-rotate90;
    -moz-animation-name: cssload-rotate90;
}
.cssload-loader .cssload-side:nth-child(2),
.cssload-loader .cssload-side:nth-child(6) {
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    animation-name: cssload-rotate45;
    -o-animation-name: cssload-rotate45;
    -ms-animation-name: cssload-rotate45;
    -webkit-animation-name: cssload-rotate45;
    -moz-animation-name: cssload-rotate45;
}
.cssload-loader .cssload-side:nth-child(4),
.cssload-loader .cssload-side:nth-child(8) {
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    animation-name: cssload-rotate135;
    -o-animation-name: cssload-rotate135;
    -ms-animation-name: cssload-rotate135;
    -webkit-animation-name: cssload-rotate135;
    -moz-animation-name: cssload-rotate135;
}
.cssload-loader .cssload-side:nth-child(1) {
    top: 48.142135623731px;
    left: 96.284271247462px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(2) {
    top: 82.213203431093px;
    left: 82.213203431093px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(3) {
    top: 96.284271247462px;
    left: 48.142135623731px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(4) {
    top: 82.213203431093px;
    left: 14.071067816369px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(5) {
    top: 48.142135623731px;
    left: 0px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(6) {
    top: 14.071067816369px;
    left: 14.071067816369px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(7) {
    top: 0px;
    left: 48.142135623731px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}
.cssload-loader .cssload-side:nth-child(8) {
    top: 14.071067816369px;
    left: 82.213203431093px;
    margin-left: -6px;
    margin-top: -20px;
    animation-delay: 0;
    -o-animation-delay: 0;
    -ms-animation-delay: 0;
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
}










@keyframes cssload-rotate0 {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@-o-keyframes cssload-rotate0 {
    0% {
        -o-transform: rotate(0deg);
    }
    60% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(180deg);
    }
}

@-ms-keyframes cssload-rotate0 {
    0% {
        -ms-transform: rotate(0deg);
    }
    60% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(180deg);
    }
}

@-webkit-keyframes cssload-rotate0 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes cssload-rotate0 {
    0% {
        -moz-transform: rotate(0deg);
    }
    60% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(180deg);
    }
}

@keyframes cssload-rotate90 {
    0% {
        transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-o-keyframes cssload-rotate90 {
    0% {
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-ms-keyframes cssload-rotate90 {
    0% {
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-rotate90 {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-moz-keyframes cssload-rotate90 {
    0% {
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes cssload-rotate45 {
    0% {
        transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-o-keyframes cssload-rotate45 {
    0% {
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-ms-keyframes cssload-rotate45 {
    0% {
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-webkit-keyframes cssload-rotate45 {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-moz-keyframes cssload-rotate45 {
    0% {
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -moz-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@keyframes cssload-rotate135 {
    0% {
        transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-o-keyframes cssload-rotate135 {
    0% {
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-ms-keyframes cssload-rotate135 {
    0% {
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-webkit-keyframes cssload-rotate135 {
    0% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-moz-keyframes cssload-rotate135 {
    0% {
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.home-logo {
    margin: 20px 0px;
    display: inline-block;
    width: 347px;
    height: 327px;
    background: url("../images/rnga.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/**
 * CUSTOM CSS
 */
.logoAcknowledgment {
    max-height: 75px;
    max-width:  75px;
}

.inline {
    display: inline;
}

div.logoOption {
    width:  100px;
}

img.logoOption {
    max-height: 100px;
    max-width:  100px;
    margin:0 auto;
}

.chart-general-report {

}

.chart-specific-report {
    padding-bottom: 10px;
}

/**
 * END CUSTOM CSS
 */

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* end of entity tables helpers */

/* ui bootstrap tweaks */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus{
    outline: none;
}
/* end of ui bootstrap tweaks */

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* jhipster-needle-css-add-main JHipster will add new css style */
