
<div>
    <h2><span translate="energliaApp.ga.detail.title">Ga</span> {{vm.ga.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.ga.version">Version</dt></dt>
        <dd>
            <span>{{vm.ga.version}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.ga.belong">belong</span></dt>
        <dd>
            <a ui-sref="simulation-detail({id:vm.ga.belongId})">{{vm.ga.belongId}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.ga.use">use</span></dt>
        <dd>
            <a ui-sref="ga-type-detail({id:vm.ga.useId})">{{vm.ga.useId}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
