
<div>
    <h2><span translate="energliaApp.archType.detail.title">ArchType</span> {{vm.archType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.archType.name">Name</span></dt>
        <dd>
            <span>{{vm.archType.name}}</span>
            &nbsp;
            <i class="glyphicon"
               ng-class="{'glyphicon-ok text-success': vm.archType.activated,
                          'glyphicon-remove text-danger': !vm.archType.activated}"></i>
        </dd>
        <hr>
        <dt><span translate="energliaApp.archType.belong">belong</span></dt>
        <dd>
            <a ui-sref="ssh-server-detail({id:vm.archType.belongId})">{{vm.archType.belongDnsname}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
