<div>
    <h2 translate="energliaApp.archType.home.title">ArchTypes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="arch-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.archType.home.createLabel">
                        Create new ArchType
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.archType.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center" jh-sort-by="name"><span translate="energliaApp.archType.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center" jh-sort-by="activated"><span translate="energliaApp.archType.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center" jh-sort-by="belongId"><span translate="energliaApp.archType.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center"><span translate="energliaApp.archType.actions">Actions</span> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="archType in vm.archTypes track by archType.id">
                    <td class="text-center">
                        <a ui-sref="arch-type-detail({id:archType.id})">
                            {{archType.name}}
                        </a>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': archType.activated,
                          'glyphicon-remove text-danger': !archType.activated}"></i>
                    </td>
                    <td class="text-center">
                        <a ui-sref="ssh-server-detail({id:archType.belongId})">{{archType.belongDnsname}}</a>
                    </td>
                    <td  class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="arch-type-detail({id:archType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="arch-type.edit({id:archType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="arch-type.delete({id:archType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
