<div>
    <h2 translate="energliaApp.queueType.home.title">QueueTypes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="queue-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.queueType.home.createLabel">
                        Create new QueueType
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.queueType.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="energliaApp.queueType.name">Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="queueType in vm.queueTypes track by queueType.id">
                    <td><a ui-sref="queue-type-detail({id:queueType.id})">{{queueType.id}}</a></td>
                    <td>{{queueType.name}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="queue-type-detail({id:queueType.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="queue-type.edit({id:queueType.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="queue-type.delete({id:queueType.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
