<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>energlia</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->

    <link rel="icon" type="image/pdf" href="content/images/energlia.png" />

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" />
    <link href="content/css/LineChart.min.css" rel="stylesheet" />

</head>
<body ng-app="energliaApp">
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <noscript class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-danger text-center" role="alert">
            <p>
                For full functionality of this site it is necessary to enable JavaScript.
            </p>
            <p>
                Here are the
                <a href="http://www.enable-javascript.com/" class="alert-link" target="_blank">
                    instructions how to enable JavaScript in your web browser
                </a>.
            </p>
        </div>
    </noscript>


    <!--<div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak></div>-->
    <div ui-view="navbar" ng-cloak></div>

    <div class="cssload-loader" ng-show>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
        <div class="cssload-side"></div>
    </div>



    <div class="container" ng-cloak>
        <div class="well" ui-view="content"></div>
    </div>


    <div ui-view="custom-footer" ng-cloak></div>

    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->


    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/account/reset/request/reset.request.state.js"></script>
    <script src="app/account/reset/request/reset.request.controller.js"></script>
    <script src="app/account/reset/finish/reset.finish.state.js"></script>
    <script src="app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="app/admin/configuration/configuration.state.js"></script>
    <script src="app/admin/configuration/configuration.service.js"></script>
    <script src="app/admin/configuration/configuration.controller.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/auth/register.service.js"></script>
    <script src="app/services/auth/principal.service.js"></script>
    <script src="app/services/auth/password.service.js"></script>
    <script src="app/services/auth/password-reset-init.service.js"></script>
    <script src="app/services/auth/password-reset-finish.service.js"></script>
    <script src="app/services/auth/has-authority.directive.js"></script>
    <script src="app/services/auth/has-any-authority.directive.js"></script>
    <script src="app/services/auth/auth.service.js"></script>
    <script src="app/services/auth/auth.jwt.service.js"></script>
    <script src="app/services/auth/activate.service.js"></script>
    <script src="app/services/auth/account.service.js"></script>
    <script src="app/account/settings/settings.state.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/register/register.state.js"></script>
    <script src="app/account/register/register.controller.js"></script>
    <script src="app/account/password/password.state.js"></script>
    <script src="app/account/password/password.controller.js"></script>
    <script src="app/account/password/password-strength-bar.directive.js"></script>
    <script src="app/account/activate/activate.state.js"></script>
    <script src="app/account/activate/activate.controller.js"></script>
    <script src="app/admin/user-management/user-management.state.js"></script>
    <script src="app/admin/user-management/user-management.controller.js"></script>
    <script src="app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="app/admin/metrics/metrics.state.js"></script>
    <script src="app/admin/metrics/metrics.service.js"></script>
    <script src="app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="app/admin/metrics/metrics.controller.js"></script>
    <script src="app/admin/logs/logs.state.js"></script>
    <script src="app/admin/logs/logs.service.js"></script>
    <script src="app/admin/logs/logs.controller.js"></script>
    <script src="app/admin/health/health.state.js"></script>
    <script src="app/admin/health/health.service.js"></script>
    <script src="app/admin/health/health.modal.controller.js"></script>
    <script src="app/admin/health/health.controller.js"></script>
    <script src="app/admin/docs/docs.state.js"></script>
    <script src="app/admin/audits/audits.state.js"></script>
    <script src="app/admin/audits/audits.service.js"></script>
    <script src="app/admin/audits/audits.controller.js"></script>
    <script src="app/entities/size-type/size-type.state.js"></script>
    <script src="app/entities/size-type/size-type.service.js"></script>
    <script src="app/entities/size-type/size-type.search.service.js"></script>
    <script src="app/entities/size-type/size-type.controller.js"></script>
    <script src="app/entities/size-type/size-type-dialog.controller.js"></script>
    <script src="app/entities/size-type/size-type-detail.controller.js"></script>
    <script src="app/entities/size-type/size-type-delete-dialog.controller.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation.state.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation.service.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation.search.service.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation.controller.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation-dialog.controller.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation-detail.controller.js"></script>
    <script src="app/entities/specific-simulation/specific-simulation-delete-dialog.controller.js"></script>
    <script src="app/blocks/interceptor/notification.interceptor.js"></script>
    <script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
    <script src="app/blocks/handlers/translation.handler.js"></script>
    <script src="app/blocks/handlers/state.handler.js"></script>
    <script src="app/blocks/config/translation.config.js"></script>
    <script src="app/blocks/config/translation-storage.provider.js"></script>
    <script src="app/blocks/config/localstorage.config.js"></script>
    <script src="app/blocks/config/http.config.js"></script>
    <script src="app/blocks/config/compile.config.js"></script>
    <script src="app/blocks/config/alert.config.js"></script>
    <script src="app/layouts/navbar/navbar.controller.js"></script>
    <script src="app/layouts/navbar/active-menu.directive.js"></script>
    <script src="app/layouts/navbar/active-link.directive.js"></script>
    <script src="app/layouts/error/error.state.js"></script>
    <script src="app/entities/ssh-account/ssh-account.state.js"></script>
    <script src="app/entities/ssh-account/ssh-account.service.js"></script>
    <script src="app/entities/ssh-account/ssh-account.search.service.js"></script>
    <script src="app/entities/ssh-account/ssh-account.controller.js"></script>
    <script src="app/entities/ssh-account/ssh-account-dialog.controller.js"></script>
    <script src="app/entities/ssh-account/ssh-account-detail.controller.js"></script>
    <script src="app/entities/ssh-account/ssh-account-delete-dialog.controller.js"></script>
    <script src="app/layouts/custom-footer/custom-footer.controller.js"></script>
    <script src="app/entities/technique-param/technique-param.state.js"></script>
    <script src="app/entities/technique-param/technique-param.service.js"></script>
    <script src="app/entities/technique-param/technique-param.search.service.js"></script>
    <script src="app/entities/technique-param/technique-param.controller.js"></script>
    <script src="app/entities/technique-param/technique-param-dialog.controller.js"></script>
    <script src="app/entities/technique-param/technique-param-detail.controller.js"></script>
    <script src="app/entities/technique-param/technique-param-delete-dialog.controller.js"></script>
    <script src="app/entities/ssh-server/ssh-server.state.js"></script>
    <script src="app/entities/ssh-server/ssh-server.service.js"></script>
    <script src="app/entities/ssh-server/ssh-server.search.service.js"></script>
    <script src="app/entities/ssh-server/ssh-server.controller.js"></script>
    <script src="app/entities/ssh-server/ssh-server-dialog.controller.js"></script>
    <script src="app/entities/ssh-server/ssh-server-detail.controller.js"></script>
    <script src="app/entities/ssh-server/ssh-server-delete-dialog.controller.js"></script>
    <script src="app/entities/size-param/size-param.state.js"></script>
    <script src="app/entities/size-param/size-param.service.js"></script>
    <script src="app/entities/size-param/size-param.search.service.js"></script>
    <script src="app/entities/size-param/size-param.controller.js"></script>
    <script src="app/entities/size-param/size-param-dialog.controller.js"></script>
    <script src="app/entities/size-param/size-param-detail.controller.js"></script>
    <script src="app/entities/size-param/size-param-delete-dialog.controller.js"></script>
    <script src="app/entities/simulation/simulation.state.js"></script>
    <script src="app/entities/simulation/simulation.service.js"></script>
    <script src="app/entities/simulation/simulation.search.service.js"></script>
    <script src="app/entities/simulation/simulation.controller.js"></script>
    <script src="app/entities/simulation/simulation-report.controller.js"></script>
    <script src="app/entities/simulation/simulation-detail.controller.js"></script>
    <script src="app/entities/simulation/simulation-delete-dialog.controller.js"></script>
    <script src="app/entities/simulation/simulation-create.controller.js"></script>
    <script src="app/entities/simulation-param/simulation-param.state.js"></script>
    <script src="app/entities/simulation-param/simulation-param.service.js"></script>
    <script src="app/entities/simulation-param/simulation-param.search.service.js"></script>
    <script src="app/entities/simulation-param/simulation-param.controller.js"></script>
    <script src="app/entities/simulation-param/simulation-param-dialog.controller.js"></script>
    <script src="app/entities/simulation-param/simulation-param-detail.controller.js"></script>
    <script src="app/entities/simulation-param/simulation-param-delete-dialog.controller.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type.state.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type.service.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type.search.service.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type.controller.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type-dialog.controller.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type-detail.controller.js"></script>
    <script src="app/entities/simulation-status-type/simulation-status-type-delete-dialog.controller.js"></script>
    <script src="app/entities/queue-type/queue-type.state.js"></script>
    <script src="app/entities/queue-type/queue-type.service.js"></script>
    <script src="app/entities/queue-type/queue-type.search.service.js"></script>
    <script src="app/entities/queue-type/queue-type.controller.js"></script>
    <script src="app/entities/queue-type/queue-type-dialog.controller.js"></script>
    <script src="app/entities/queue-type/queue-type-detail.controller.js"></script>
    <script src="app/entities/queue-type/queue-type-delete-dialog.controller.js"></script>
    <script src="app/entities/problem-type/problem-type.state.js"></script>
    <script src="app/entities/problem-type/problem-type.service.js"></script>
    <script src="app/entities/problem-type/problem-type.search.service.js"></script>
    <script src="app/entities/problem-type/problem-type.controller.js"></script>
    <script src="app/entities/problem-type/problem-type-dialog.controller.js"></script>
    <script src="app/entities/problem-type/problem-type-detail.controller.js"></script>
    <script src="app/entities/problem-type/problem-type-delete-dialog.controller.js"></script>
    <script src="app/entities/population-order/population-order.state.js"></script>
    <script src="app/entities/population-order/population-order.service.js"></script>
    <script src="app/entities/population-order/population-order.search.service.js"></script>
    <script src="app/entities/population-order/population-order.controller.js"></script>
    <script src="app/entities/population-order/population-order-dialog.controller.js"></script>
    <script src="app/entities/population-order/population-order-detail.controller.js"></script>
    <script src="app/entities/population-order/population-order-delete-dialog.controller.js"></script>
    <script src="app/entities/population-param/population-param.state.js"></script>
    <script src="app/entities/population-param/population-param.service.js"></script>
    <script src="app/entities/population-param/population-param.search.service.js"></script>
    <script src="app/entities/population-param/population-param.controller.js"></script>
    <script src="app/entities/population-param/population-param-dialog.controller.js"></script>
    <script src="app/entities/population-param/population-param-detail.controller.js"></script>
    <script src="app/entities/population-param/population-param-delete-dialog.controller.js"></script>
    <script src="app/entities/population/population.state.js"></script>
    <script src="app/entities/population/population.service.js"></script>
    <script src="app/entities/population/population.search.service.js"></script>
    <script src="app/entities/population/population.controller.js"></script>
    <script src="app/entities/population/population-size.service.js"></script>
    <script src="app/entities/population/population-dialog.controller.js"></script>
    <script src="app/entities/population/population-detail.controller.js"></script>
    <script src="app/entities/population/population-delete-dialog.controller.js"></script>
    <script src="app/entities/population-combination/population-combination.state.js"></script>
    <script src="app/entities/population-combination/population-combination.service.js"></script>
    <script src="app/entities/population-combination/population-combination.search.service.js"></script>
    <script src="app/entities/population-combination/population-combination.controller.js"></script>
    <script src="app/entities/population-combination/population-combination-dialog.controller.js"></script>
    <script src="app/entities/population-combination/population-combination-detail.controller.js"></script>
    <script src="app/entities/population-combination/population-combination-delete-dialog.controller.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order.state.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order.service.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order.search.service.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order.controller.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order-dialog.controller.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order-detail.controller.js"></script>
    <script src="app/entities/population-combination-order/population-combination-order-delete-dialog.controller.js"></script>
    <script src="app/entities/ga/ga.state.js"></script>
    <script src="app/entities/ga/ga.service.js"></script>
    <script src="app/entities/ga/ga.search.service.js"></script>
    <script src="app/entities/ga/ga.controller.js"></script>
    <script src="app/entities/ga/ga-dialog.controller.js"></script>
    <script src="app/entities/ga/ga-detail.controller.js"></script>
    <script src="app/entities/ga/ga-delete-dialog.controller.js"></script>
    <script src="app/entities/log-record/log-record.state.js"></script>
    <script src="app/entities/log-record/log-record.service.js"></script>
    <script src="app/entities/log-record/log-record.search.service.js"></script>
    <script src="app/entities/log-record/log-record.controller.js"></script>
    <script src="app/entities/log-record/log-record-dialog.controller.js"></script>
    <script src="app/entities/log-record/log-record-detail.controller.js"></script>
    <script src="app/entities/log-record/log-record-delete-dialog.controller.js"></script>
    <script src="app/entities/ga-param/ga-param.state.js"></script>
    <script src="app/entities/ga-param/ga-param.service.js"></script>
    <script src="app/entities/ga-param/ga-param.search.service.js"></script>
    <script src="app/entities/ga-param/ga-param.controller.js"></script>
    <script src="app/entities/ga-param/ga-param-dialog.controller.js"></script>
    <script src="app/entities/ga-param/ga-param-detail.controller.js"></script>
    <script src="app/entities/ga-param/ga-param-delete-dialog.controller.js"></script>
    <script src="app/entities/ga-type/ga-type.state.js"></script>
    <script src="app/entities/ga-type/ga-type.service.js"></script>
    <script src="app/entities/ga-type/ga-type.search.service.js"></script>
    <script src="app/entities/ga-type/ga-type.controller.js"></script>
    <script src="app/entities/ga-type/ga-type-dialog.controller.js"></script>
    <script src="app/entities/ga-type/ga-type-detail.controller.js"></script>
    <script src="app/entities/ga-type/ga-type-delete-dialog.controller.js"></script>
    <script src="app/entities/error-type/error-type.state.js"></script>
    <script src="app/entities/error-type/error-type.service.js"></script>
    <script src="app/entities/error-type/error-type.search.service.js"></script>
    <script src="app/entities/error-type/error-type.controller.js"></script>
    <script src="app/entities/error-type/error-type-dialog.controller.js"></script>
    <script src="app/entities/error-type/error-type-detail.controller.js"></script>
    <script src="app/entities/error-type/error-type-delete-dialog.controller.js"></script>
    <script src="app/entities/exec-param/exec-param.state.js"></script>
    <script src="app/entities/exec-param/exec-param.service.js"></script>
    <script src="app/entities/exec-param/exec-param.search.service.js"></script>
    <script src="app/entities/exec-param/exec-param.controller.js"></script>
    <script src="app/entities/exec-param/exec-param-dialog.controller.js"></script>
    <script src="app/entities/exec-param/exec-param-detail.controller.js"></script>
    <script src="app/entities/exec-param/exec-param-delete-dialog.controller.js"></script>
    <script src="app/entities/compiled-app/compiled-app.state.js"></script>
    <script src="app/entities/compiled-app/compiled-app.service.js"></script>
    <script src="app/entities/compiled-app/compiled-app.search.service.js"></script>
    <script src="app/entities/compiled-app/compiled-app.controller.js"></script>
    <script src="app/entities/compiled-app/compiled-app-dialog.controller.js"></script>
    <script src="app/entities/compiled-app/compiled-app-detail.controller.js"></script>
    <script src="app/entities/compiled-app/compiled-app-delete-dialog.controller.js"></script>
    <script src="app/entities/dataset/dataset.state.js"></script>
    <script src="app/entities/dataset/dataset.service.js"></script>
    <script src="app/entities/dataset/dataset.search.service.js"></script>
    <script src="app/entities/dataset/dataset.controller.js"></script>
    <script src="app/entities/dataset/dataset-dialog.controller.js"></script>
    <script src="app/entities/dataset/dataset-detail.controller.js"></script>
    <script src="app/entities/dataset/dataset-delete-dialog.controller.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination.state.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination.service.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination.search.service.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination.controller.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination-dialog.controller.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination-detail.controller.js"></script>
    <script src="app/entities/dataset-combination/dataset-combination-delete-dialog.controller.js"></script>
    <script src="app/components/util/truncate-words.filter.js"></script>
    <script src="app/components/util/truncate-characters.filter.js"></script>
    <script src="app/components/util/sort.directive.js"></script>
    <script src="app/components/util/sort-by.directive.js"></script>
    <script src="app/components/util/parse-links.service.js"></script>
    <script src="app/components/util/pagination-util.service.js"></script>
    <script src="app/components/util/jhi-item-count.directive.js"></script>
    <script src="app/components/util/date-util.service.js"></script>
    <script src="app/components/util/data-util.service.js"></script>
    <script src="app/components/util/capitalize.filter.js"></script>
    <script src="app/components/util/base64.service.js"></script>
    <script src="app/entities/analyze-type/analyze-type.state.js"></script>
    <script src="app/entities/analyze-type/analyze-type.service.js"></script>
    <script src="app/entities/analyze-type/analyze-type.search.service.js"></script>
    <script src="app/entities/analyze-type/analyze-type.controller.js"></script>
    <script src="app/entities/analyze-type/analyze-type-dialog.controller.js"></script>
    <script src="app/entities/analyze-type/analyze-type-detail.controller.js"></script>
    <script src="app/entities/analyze-type/analyze-type-delete-dialog.controller.js"></script>
    <script src="app/entities/arch-type/arch-type.state.js"></script>
    <script src="app/entities/arch-type/arch-type.service.js"></script>
    <script src="app/entities/arch-type/arch-type.search.service.js"></script>
    <script src="app/entities/arch-type/arch-type.controller.js"></script>
    <script src="app/entities/arch-type/arch-type-dialog.controller.js"></script>
    <script src="app/entities/arch-type/arch-type-detail.controller.js"></script>
    <script src="app/entities/arch-type/arch-type-delete-dialog.controller.js"></script>
    <script src="app/entities/application/application.state.js"></script>
    <script src="app/entities/application/application.service.js"></script>
    <script src="app/entities/application/application.search.service.js"></script>
    <script src="app/entities/application/application.controller.js"></script>
    <script src="app/entities/application/application-dialog.controller.js"></script>
    <script src="app/entities/application/application-detail.controller.js"></script>
    <script src="app/entities/application/application-delete-dialog.controller.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/language/language.service.js"></script>
    <script src="app/components/language/language.filter.js"></script>
    <script src="app/components/language/language.controller.js"></script>
    <script src="app/components/language/language.constants.js"></script>
    <script src="app/components/form/uib-pagination.config.js"></script>
    <script src="app/components/form/uib-pager.config.js"></script>
    <script src="app/components/form/show-validation.directive.js"></script>
    <script src="app/components/form/pagination.constants.js"></script>
    <script src="app/components/form/minbytes.directive.js"></script>
    <script src="app/components/form/maxbytes.directive.js"></script>
    <script src="app/components/alert/alert.service.js"></script>
    <script src="app/components/alert/alert.directive.js"></script>
    <script src="app/components/alert/alert-error.directive.js"></script>
    <script src="app/account/account.state.js"></script>
    <script src="app/admin/admin.state.js"></script>
    <script src="app/home/home.state.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/entities/entity.state.js"></script>
    <script src="app/app.state.js"></script>
    <script src="app/app.constants.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <script src = "content/js/d3.min.js"></script>
    <script src = "content/js/LineChart.min.js"></script>

</body>
</html>
