
<div>
    <h2><span translate="energliaApp.compiledApp.detail.title">CompiledApp</span><!-- {{vm.compiledApp.id}} --></h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.compiledApp.executable">Executable</span></dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.compiledApp.executableContentType, vm.compiledApp.executable)" ng-if="vm.compiledApp.executable" target="_blank">open</a>
            <div>{{vm.compiledApp.executableContentType}}, {{vm.byteSize(vm.compiledApp.executable)}}</div>
        </dd>
        <hr>
        <dt><span translate="energliaApp.compiledApp.belong">belong</span></dt>
        <dd>
            <a ui-sref="application-detail({id:vm.compiledApp.belongId})">{{vm.compiledApp.belongName}}</a>
        </dd>
        <hr>
        <dt><span translate="energliaApp.compiledApp.use">use</span></dt>
        <dd>
            <a ui-sref="ssh-server-detail({id:vm.compiledApp.useId})">{{vm.compiledApp.useDnsname}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
