
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCompiledAppLabel" translate="energliaApp.compiledApp.home.createOrEditLabel">Create or edit a CompiledApp</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" ngf-drop ngf-change="vm.setExecutable($file, vm.compiledApp)">
            <label class="control-label" translate="energliaApp.compiledApp.executable" for="field_executable">Executable</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.compiledApp.executableContentType, vm.compiledApp.executable)" ng-if="vm.compiledApp.executable" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.compiledApp.executableContentType}}, {{byteSize(vm.compiledApp.executable)}}</span>
                    <button ng-click="vm.compiledApp.executable=null;vm.compiledApp.executableContentType=null;"
                            ng-if="vm.compiledApp.executable"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setExecutable($file, vm.compiledApp)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="executable" id="field_executable"
                    ng-model="vm.compiledApp.executable"
                    required />
            <input type="hidden" class="form-control" name="executableContentType" id="field_executableContentType"
                    ng-model="vm.compiledApp.executableContentType" />
            <div ng-show="editForm.executable.$invalid">
                <p class="help-block"
                    ng-show="editForm.executable.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="energliaApp.compiledApp.belong" for="field_belong">belong</label>
            <select class="form-control" id="field_belong" name="belong" ng-model="vm.compiledApp.belongId" ng-options="application.id as application.name for application in vm.applications">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="energliaApp.compiledApp.use" for="field_use">use</label>
            <select class="form-control" id="field_use" name="use" ng-model="vm.compiledApp.useId" ng-options="sshServer.id as sshServer.dnsname for sshServer in vm.sshservers">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
