<div>
    <h2 translate="energliaApp.compiledApp.home.title">CompiledApps</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="compiled-app.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.compiledApp.home.createLabel">
                        Create new CompiledApp
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.compiledApp.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="executable" class="text-center"><span translate="energliaApp.compiledApp.executable">Executable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="belongId" class="text-center"><span translate="energliaApp.compiledApp.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="useId" class="text-center"><span translate="energliaApp.compiledApp.use">use</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th class="text-center"><span translate="energliaApp.compiledApp.action">Actions</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="compiledApp in vm.compiledApps track by compiledApp.id">
                    <!-- <td><a ui-sref="compiled-app-detail({id:compiledApp.id})">{{compiledApp.id}}</a></td> -->
                    <td class="text-center">
                        <a ng-click="vm.openFile(compiledApp.executableContentType, compiledApp.executable)" ng-if="compiledApp.executable" target="_blank">open</a>
                        {{compiledApp.executableContentType}}, {{byteSize(compiledApp.executable)}}</td>
                    <td class="text-center">
                        <a ui-sref="application-detail({id:compiledApp.belongId})">{{compiledApp.belongName}}</a>
                    </td>
                    <td class="text-center">
                        <a ui-sref="ssh-server-detail({id:compiledApp.useId})">{{compiledApp.useDnsname}}</a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="compiled-app-detail({id:compiledApp.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="compiled-app.edit({id:compiledApp.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="compiled-app.delete({id:compiledApp.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
