
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProblemTypeLabel" translate="energliaApp.problemType.home.createOrEditLabel">Create or edit a ProblemType</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.problemType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.problemType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.problemType.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.problemType.outputFeatureConstraint" for="field_outputFeatureConstraint">OutputFeatureConstraint</label>
            <input type="number" class="form-control" name="outputFeatureConstraint" id="field_outputFeatureConstraint"
                    ng-model="vm.problemType.outputFeatureConstraint"
                     />
        </div>


        <div class="form-group">
            <label translate="energliaApp.problemType.minimize" for="field_minimize">minimize</label>
            <select class="form-control" id="field_minimize" multiple name="minimize" ng-model="vm.problemType.minimizes" ng-options="errorType as errorType.name for errorType in vm.errortypes track by errorType.id"></select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
