
<div>
    <h2><span translate="energliaApp.problemType.detail.title">ProblemType</span> {{vm.problemType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.problemType.name">Name</dt>
        <dd>
            <span>{{vm.problemType.name}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.problemType.outputFeatureConstraint">OutputFeatureConstraint</dt>
        <dd>
            <span>{{vm.problemType.outputFeatureConstraint}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.problemType.numPopulation">NumPopulation</dt>
        <dd>
            <span>{{vm.problemType.numPopulation}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.problemType.minimize">minimize</span></dt>
        <dd>
            <span ng-repeat="minimize in vm.problemType.minimizes">
                <a ui-sref="error-type-detail({id: {{minimize.id}}})">{{minimize.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
