<div>

    <dl>
        <dt>
            <span translate="energliaApp.simulation.name">Name</span>
        </dt>
        <dd>
            {{vm.simulation.name}}
        </dd>

        <dt>
            <span translate="energliaApp.simulation.description">Description</span>
        </dt>
        <dd>
            <span ng-bind-html="vm.simulation.description"></span>
        </dd>

    </dl>




    <div class="row" ng-repeat="o in vm.infoGeneral track by $index" ng-cloak>
        <div class="col-md-12">
            <h2 class="text-center" translate="energliaApp.simulation.report.summary">Summary</h2>
            <div class="chart-general-report">
                <linechart data="vm.logData" options="vm.infoGeneral[$index].option"></linechart>
            </div>
        </div>
    </div>

    <div class="lead" />

    <div class="row" ng-cloak>
        <div ng-repeat="o in vm.infoSpecific track by $index" class="{{o.class}}">

            <h3 class="text-center" translate="energliaApp.simulation.report.{{o.title}}">{{o.title}}</h3>
            <div class="chart-specific-report">
                <linechart data="vm.logData" options="vm.infoSpecific[$index].option"></linechart>
            </div>
        </div>
    </div>

    <div class="lead" />

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>


</div>
