<div>
    <div class="row">
        <div class="col-md-6">
            <h2 translate="energliaApp.simulation.home.title">Simulations</h2>
        </div>
        <div class="col-md-6 text-right">
            <span class="label label-success" translate="energliaApp.simulation.status.finished">Finished</span>
            <span class="label label-info"    translate="energliaApp.simulation.status.cpdQueue">CPD queue</span>
            <span class="label label-warning" translate="energliaApp.simulation.status.virtualQueue">Virtual queue</span>
        </div>
    </div>

    <jhi-alert></jhi-alert>

    <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
        {{alert.msg}}
    </uib-alert>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="simulation-create" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="energliaApp.simulation.home.createLabel">
                        Create new Simulation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'energliaApp.simulation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!-- <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="timestamp"   class="text-center"><span translate="energliaApp.simulation.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="belongLogin" class="text-center"><span translate="energliaApp.simulation.belong">belong</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"        class="text-center"><span translate="energliaApp.simulation.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="description"><span translate="energliaApp.simulation.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th> -->

                    <th jh-sort-by="useId"      class="text-center"><span translate="energliaApp.simulation.use">use</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="exeId"      class="text-center"><span translate="energliaApp.simulation.exe">exe</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="problemId"  class="text-center"><span translate="energliaApp.simulation.problem">problem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minimizeId" class="text-center"><span translate="energliaApp.simulation.minimize">minimize</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th class="text-center"><span translate="energliaApp.simulation.action">Actions</span></th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="simulation in vm.simulations track by simulation.id">
                    <td class="text-center">{{simulation.timestamp | date:'medium'}}</td>
                    <td class="text-center">{{simulation.belongLogin}}</td>

                    <!-- <td><a ui-sref="simulation-detail({id:simulation.id})">{{simulation.id}}</a></td> -->
                    <td class="text-center">
                        <div ng-show="simulation.taskTotal == simulation.taskDone">
                            <span class="glyphicon glyphicon-ok text-success" />
                            <a ui-sref="simulation-detail({id:simulation.id})">{{simulation.name}}</a>

                            <br />
                            <a ui-sref="simulation-report({id:simulation.id})">
                                <span class="glyphicon glyphicon-duplicate" />
                                <span translate="energliaApp.simulation.report.title">Report</span>
                            </a>

                        </div>
                        <div ng-hide="simulation.taskTotal == simulation.taskDone">
                            <a ui-sref="simulation-detail({id:simulation.id})">
                                {{simulation.name}}
                            </a> <br/>
                            <uib-progress max="simulation.taskTotal">
                                <uib-bar value="simulation.taskFail" type="danger"></uib-bar>
                                <uib-bar value="simulation.taskDone" type="success"></uib-bar>
                                <uib-bar value="simulation.taskServer" type="info"></uib-bar>
                                <uib-bar value="simulation.taskQueue" type="warning"></uib-bar>
                            </uib-progress>
                        </div>
                    </td>

                    <!-- <td>{{simulation.description}}</td> -->

                    <td class="text-center">
                        <a ui-sref="dataset-detail({id:simulation.useId})">{{simulation.useName}}</a>
                    </td>
                    <!--<td class="text-center">
                        <a ui-sref="application-detail({id:simulation.exeId})">{{simulation.exeId}}</a>
                    </td>-->
                    <td class="text-center">
                        {{simulation.problemName}}
                    </td>
                    <td class="text-center">
                        {{simulation.minimizeName}}
                    </td>
<!--
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="simulation-detail({id:simulation.id})"
                                    class="btn btn-info btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.view' | translate }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="simulation.edit({id:simulation.id})"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.edit' | translate }}">
                                <span class="glyphicon glyphicon-pencil"></span>

                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="simulation.delete({id:simulation.id})"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="tooltip"
                                    title="{{ 'entity.action.delete' | translate }}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>


</div>
