<div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="success" close="vm.closeAlert($index)">
                {{alert.msg}}
            </uib-alert>
        </div>
    </div>

    <h2>
        <span translate="energliaApp.simulation.detail.title">Simulation</span>
        <uib-progress max="vm.simulation.taskTotal" animate="false">
            <uib-bar value="vm.simulation.taskFail" type="danger">{{vm.simulation.taskFail}}</uib-bar>
            <uib-bar value="vm.simulation.taskDone" type="success">{{vm.simulation.taskDone}}</uib-bar>
            <uib-bar value="vm.simulation.taskServer" type="info"></uib-bar>
            <uib-bar value="vm.simulation.taskQueue" type="warning"></uib-bar>
        </uib-progress>
    </h2>

    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.simulation.name">Name</span></dt>
        <dd>
            <span>{{vm.simulation.name}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.simulation.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{vm.simulation.timestamp | date:'medium'}}</span>
        </dd>


        <hr>
        <dt>
            <span translate="energliaApp.simulation.description">Description</span>
            <br />
            <button class="btn btn-primary"
                    ng-hide="vm.edit"
                    ng-click="vm.changeEdit()"
                    title="{{ 'entity.action.edit' | translate }}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>

        </dt>
        <dd>
            <span ng-hide="vm.edit" ng-bind-html="vm.simulation.description"></span>

            <textarea type="text" rows="5"
                      ng-show="vm.edit"
                      class="form-control"
                      name="description"
                      id="field_description"
                      ng-model="vm.editDescription">
            </textarea>
            <br />

            <div class="text-right" ng-show="vm.edit">
                <button class="btn btn-default"
                        ng-click="vm.changeEdit()"
                        title="{{ 'entity.action.cancel' | translate }}">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.cancel"></span>
                </button>
                <button class="btn btn-primary"
                        ng-click="vm.update()"
                        title="{{ 'entity.action.save' | translate }}">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.save"></span>
                </button>
            </div>


        </dd>

        <hr />
        <dt><span translate="energliaApp.simulation.belong">belong</span></dt>
        <dd>
            {{vm.simulation.belongLogin}}
        </dd>
        <hr />
        <dt><span translate="energliaApp.simulation.use">use</span></dt>
        <dd>
            <a ui-sref="dataset-detail({is:vm.simulation.useId})">
                <span>{{vm.simulation.useName}}</span>
            </a>
        </dd>
        <hr />

        <dt><span translate="energliaApp.simulation.problem">problem</span></dt>
        <dd><span>{{vm.simulation.problemName}}</span></dd>
        <hr />

        <dt><span translate="energliaApp.simulation.minimize">minimize</span></dt>
        <dd><span>{{vm.simulation.minimizeName}}</span></dd>
        <hr />

    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
