<ol class="breadcrumb text-center">
    <!-- <span class="text-info text-left">Back</span> -->
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.DETAIL? 'text-muted': 'text-primary'"
        translate="energliaApp.simulation.breadcrumb.details">Details</li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.DATASET? 'text-muted': 'text-primary'"
        translate="energliaApp.dataset.detail.title">Dataset</li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.PROBLEM? 'text-muted': 'text-primary'"
        translate="energliaApp.simulation.problemType.title">Problem</li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.POPULATION? 'text-muted': 'text-primary'">
        <span translate="energliaApp.population.detail.title">Population</span>
        <span ng-show="vm.numPopulation && vm.simulationStatus == vm.SIMULATION_STATUS.POPULATION">{{vm.currentPopulation}}/{{vm.numPopulation}}</span>
    </li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.GA? 'text-muted': 'text-primary'"
        translate="energliaApp.simulation.breadcrumb.ga">GA</li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.SERVER? 'text-muted': 'text-primary'"
        translate="energliaApp.simulation.breadcrumb.server">Server</li>
    <li ng-class="vm.simulationStatus != vm.SIMULATION_STATUS.EXECUTION? 'text-muted': 'text-primary'"
        translate="energliaApp.simulation.breadcrumb.execution">Execution</li>
</ol>

<jhi-alert-error></jhi-alert-error>

<uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
    {{alert.msg}}
</uib-alert>

<!-- for simulation details -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.DETAIL">
    <form name="simulationForm" role="form" novalidate ng-submit="vm.saveDetail()" show-validation>

        <h4 translate="energliaApp.simulation.detail.title">Simulation</h4>

        <div class="form-group">
            <label class="control-label" translate="energliaApp.simulation.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.simulation.name"
                   required />
            <div ng-show="simulationForm.name.$invalid">
                <p class="help-block"
                   ng-show="simulationForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label" translate="energliaApp.simulation.description" for="field_description">Description</label>
            <textarea type="text" rows="5" class="form-control" name="description" id="field_description"
                      ng-model="vm.simulation.description" />
        </div>

        <div class="">
            <button type="button" ng-disabled="true" class="btn btn-default" ng-click="vm.clear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="button" ng-disabled="simulationForm.$invalid || isSaving" ng-click="vm.saveDetail()"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>
</div>





<!--  to choose details -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.DATASET">
    <form name="datasetForm" role="form" novalidate ng-submit="vm.saveDataset()" show-validation>

        <div class="row">
            <div class="col-xs-4">
                <h4 translate="energliaApp.dataset.detail.title">Dataset</h4>
            </div>

            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.datasetSearchQuery" id="datasetSearchQuery" placeholder="{{ 'energliaApp.dataset.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.datasetSearch(vm.datasetSearchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.datasetCurrentSearch">
                            <button class="btn btn-info" ng-click="vm.datasetClear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                    <th class="text-center"></th>
                    <th jh-sort-by="name"          class="text-center"><span translate="energliaApp.dataset.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="ownerLogin"    class="text-center"><span translate="energliaApp.dataset.owner">owner</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="analyzeId"     class="text-center"><span translate="energliaApp.dataset.analyze">Analyze</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="timestamp"     class="text-center"><span translate="energliaApp.dataset.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="outputFeature" class="text-center"><span translate="energliaApp.dataset.outputFeature">OutputFeature</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputFeature"  class="text-center"><span translate="energliaApp.dataset.inputFeature">InputFeature</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataset in vm.datasets track by dataset.id" ng-class="{info: vm.selectDataset==dataset.id}">
                        <td><input type="radio" ng-model="vm.selectDataset" ng-value="dataset.id" ng-change="vm.getDataset(dataset.id)" required/></td>
                        <td><a ui-sref="dataset-detail({id:dataset.id})">{{dataset.name}}</a></td>
                        <td>{{dataset.ownerLogin}}</td>


                        <td class="text-center">
                        <span translate="{{'energliaApp.dataset.analyzeType.'+vm.getAnalyzeName(dataset.analyzeId)}}">
                            {{vm.getAnalyzeName(dataset.analyzeId)}}
                        </span>
                        </td>

                        <td class="text-center">{{dataset.timestamp | date:'medium'}}</td>

                        <td class="text-center">{{dataset.outputFeature}}</td>
                        <td class="text-center">{{dataset.inputFeature}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.datasetPage" total="vm.queryDatasetCount"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalDatasetItems" ng-model="vm.datasetPage" ng-change="vm.datasetTransition()"></uib-pagination>
        </div>
<!--
        <dl class="dl-horizontal" ng-show="vm.selectDataset">
            <dt translate="energliaApp.dataset.name">Name</dt>
            <dd><a ui-sref="dataset-detail({id:vm.dataset.id})">{{vm.dataset.name}}</a></dd>
        </dl>
-->

        <div class="">
            <button type="button" class="btn btn-default" ng-click="vm.datasetClear()"
                    translate="button.previous">
                Previous
            </button>

            <button type="button" ng-disabled="datasetForm.$invalid || !vm.selectDataset || isSaving" ng-click="vm.saveDataset()"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>
</div>

<!-- to choose Problem -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.PROBLEM">
    <h4 translate="energliaApp.simulation.problemType.title">Simulation</h4>

    <form name="problemForm" role="form" novalidate ng-submit="vm.saveProblem()" show-validation>
        <div class="form-group container-fluid">
            <label class="radio" ng-repeat="problemType in vm.problemtypes"
                   >
                <input type="radio"
                       ng-disabled="!(!problemType.outputFeatureConstraint || problemType.outputFeatureConstraint == vm.dataset.outputFeature)"
                       ng-model="vm.simulation.problemId" ng-value="problemType.id"
                       ng-change="vm.setProblemType(problemType.id)"
                       required>
                    <span ng-class="{'text-muted': !(!problemType.outputFeatureConstraint || problemType.outputFeatureConstraint == vm.dataset.outputFeature)}"
                          translate="{{'energliaApp.simulation.problemType.'+problemType.name}}">{{problemType.name}}</span>
                </input>
            </label>
        </div>

        <div class="" ng-hide="vm.simulation.problemId">
            <button type="button" class="btn btn-default" ng-click="vm.problemClear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="button" ng-disabled="problemForm.$invalid || isSaving"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>


        <!-- To show annfixedglia -->
    <div ng-show="vm.simulation.problemId == '1'">
        <form name="annFixedGliaForm" role="form" novalidate show-validation>
            <div class="form-group form-inline row">

                <label class="control-label col-md-1" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.layer" for="field_layer">Layers</label>
                <input type="number" class="form-control col-md-2" name="name" id="field_layer" min="2" max="8"
                       ng-model="vm.annFixedGlia.layer" ng-change="vm.annFixedGliaSetLayerParamsLength(vm.annFixedGlia.layer)"
                       required />

                <button type="button" class="btn btn-default cold-md-2" ng-click="vm.annFixedGliaFillValuesFrom0()">
                    <span  translate="energliaApp.simulation.problemType.AnnFixedGliaParams.cpyFrom0">
                        Copy values from Layer 0
                    </span>
                </button>
            </div>


            <div class="form-group form-inline row">
                <label class="control-label col-md-1" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.iteration" for="field_iteration">Iteration</label>
                <input type="number" min="0" step="1" max="10" class="form-control col-md-2"
                       ng-model="vm.annFixedGlia.iteration"
                       name="field_iteration" id="field_iteration" required />
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-1" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.activation" for="field_activation">Activation</label>
                <input type="number" min="0" step="1" max="10" class="form-control col-md-2"
                       ng-model="vm.annFixedGlia.activation"
                       name="field_activation" id="field_activation" required />
            </div>

            <table class="table table-striped">
                <thead>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.layer">Layer</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.neurons">Neuron</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.activationFunction">Activation Function</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.gliaAlgorithm">Glia Algorithm</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.increase">Increase</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AnnFixedGliaParams.decrease">Decrease</th>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="_ in ((_ = []) && (_.length=vm.annFixedGlia.layer) && _) track by $index">
                        <th translate="energliaApp.simulation.problemType.AnnFixedGliaParams.layerId" translate-values="{id: '{{$index}}'}">
                            Layer {{$index}}
                        </th>
                        <td>

                                <input type="number" min="1" step="1" max="100000" class="form-control"
                                       ng-class="{'text-muted': $index==0 ||  $index+1==vm.annFixedGlia.layer}"
                                       ng-disabled="$index==0 ||  $index+1==vm.annFixedGlia.layer"
                                       ng-model="vm.annFixedGlia.layerParams[$index].neuron"
                                       required />
                        </td>
                        <td>
                            <span ng-class="{'has-error': annFixedGliaForm.actFunc{{$index}}.$error.required}">
                                <select class="form-control" ng-model="vm.annFixedGlia.layerParams[$index].activation_function" name="actFunc{{$index}}"
                                        ng-options="activation.name as 'energliaApp.simulation.activationFunction.'+activation.name | translate for activation in vm.activation_function" required>
                                    <option value=""></option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': annFixedGliaForm.gliaAlg{{$index}}.$error.required}">
                                <select class="form-control"  ng-model="vm.annFixedGlia.layerParams[$index].glia" name="gliaAlg{{$index}}"
                                        ng-options="glia.name as 'energliaApp.simulation.gliaAlgorithm.'+glia.name | translate for glia in vm.glia_algorithm" required>
                                    <option value=""></option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': annFixedGliaForm.inc{{$index}}.$error.required}">
                                <input type="number" min="0.1" step="0.1" max="0.9" ng-model="vm.annFixedGlia.layerParams[$index].increase" class="form-control" name="inc{{$index}}" required />
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': annFixedGliaForm.dec{{$index}}.$error.required}">
                                <input type="number" min="0.1" step="0.1" max="0.9" ng-model="vm.annFixedGlia.layerParams[$index].decrease" class="form-control" name="dec{{$index}}" required />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="form-group">
                <h4 translate="energliaApp.simulation.problemType.AnnFixedGliaParams.errorToMimimize">
                    Error to mimimize
                </h4>
                <div ng-hide="vm.simulation.minimizeId">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="form-group container-fluid">
                    <label class="radio" ng-repeat="errorType in vm.problemtype.minimizes">
                        <input type="radio"
                               ng-model="vm.simulation.minimizeId" ng-value="errorType.id"
                               required>
                        <span translate="{{'energliaApp.simulation.errorType.'+errorType.name}}">{{errorType.name}}</span>
                        </input>
                    </label>
                </div>
            </div>



            <h4 translate="energliaApp.simulation.problemType.AnnFixedGliaParams.constraint">
                Constraints
            </h4>
            <div class="form-group form-inline">
                <strong  translate="energliaApp.simulation.problemType.AnnFixedGliaParams.weight">Weight</strong>
                <span ng-class="{'has-error': annFixedGliaForm.weightMin.$error.required}">
                    <input type="number" placeholder="{{ 'energliaApp.simulation.problemType.AnnFixedGliaParams.min' | translate }}"
                           ng-model="vm.annFixedGlia.constraints.weight.min" name="weightMin" class="form-control" required/>
                </span>
                <span ng-class="{'has-error': annFixedGliaForm.weightMax.$error.required}">
                    <input type="number" placeholder="{{ 'energliaApp.simulation.problemType.AnnFixedGliaParams.max' | translate }}"
                           ng-model="vm.annFixedGlia.constraints.weight.max" name="weightMax" class="form-control" required/>
                </span>
            </div>


            <div class="" >
                <button type="button" class="btn btn-default" ng-click="vm.problemClear()"
                        translate="button.previous">
                    Previous
                </button>
                <button type="button" ng-disabled="annFixedGliaForm.$invalid || isSaving"
                        ng-click="vm.saveProblem()"
                        class="btn btn-primary"
                        translate="button.next">
                    Next
                </button>
            </div>


        </form>
    </div>


        <!-- to show angnsearchglia -->
    <div ng-show="vm.simulation.problemId == '2'">
        <form name="angnSearchGliaForm" role="form" novalidate show-validation>
            <div class="form-group form-inline">

                <label class="control-label" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.layer" for="field_layer">Layers</label>
                <input type="number" class="form-control" name="name" min="2" max="8"
                       ng-model="vm.angnSearchGlia.layer" ng-change="vm.angnSearchGliaSetLayerParamsLength(vm.angnSearchGlia.layer)"
                       required />
                <div ng-show="problemForm.name.$invalid">
                    <p class="help-block"
                       ng-show="problemForm.layer.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>

                <button type="button" class="btn btn-default" ng-click="vm.angnSearchGliaFillValuesFrom0()">
                    <span  translate="energliaApp.simulation.problemType.AngnSearchGliaParams.cpyFrom0">
                        Copy values from Layer 0
                    </span>
                </button>
            </div>


            <table class="table table-striped">
                <thead>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.layer">Layer</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.neurons">Neuron</th>
                    <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.activationFunction">Activation Function</th>
                </thead>
                <tbody class="text-center">
                <tr ng-repeat="_ in ((_ = []) && (_.length=vm.angnSearchGlia.layer) && _) track by $index">
                    <th translate="energliaApp.simulation.problemType.AngnSearchGliaParams.layerId" translate-values="{id: '{{$index}}'}">
                        Layer {{$index}}
                    </th>
                    <td>

                        <input type="number" min="1" step="1" max="100000"
                               ng-class="{'text-muted': $index==0 ||  $index+1==vm.angnSearchGlia.layer}"
                               ng-disabled="$index==0 ||  $index+1==vm.angnSearchGlia.layer"
                               ng-model="vm.angnSearchGlia.layerParams[$index].neuron"
                               required />
                    </td>
                    <td>
                        <span ng-class="{'has-error': angnSearchGliaForm.actFun{{$index}}.$error.required}">
                            <select class="form-control" ng-model="vm.angnSearchGlia.layerParams[$index].activation_function" name="actFun{{$index}}"
                                    ng-options="activation.name as 'energliaApp.simulation.activationFunction.'+activation.name | translate for activation in vm.activation_function" required>
                                <option value=""></option>
                            </select>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="form-group">
                <h4 translate="energliaApp.simulation.problemType.AngnSearchGliaParams.errorToMimimize">
                    Error to mimimize
                </h4>
                <div ng-hide="vm.simulation.minimizeId">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="form-group container-fluid">
                    <label class="radio" ng-repeat="errorType in vm.problemtype.minimizes">
                        <input type="radio"
                               ng-model="vm.simulation.minimizeId" ng-value="errorType.id"
                               required>
                        <span translate="{{'energliaApp.simulation.errorType.'+errorType.name}}">{{errorType.name}}</span>
                        </input>
                    </label>
                </div>
            </div>

            <h4 translate="energliaApp.simulation.problemType.AngnSearchGliaParams.constraint">
                Constraints
            </h4>
            <div class="form-group container-fluid">
                <input type="checkbox" ng-model="vm.angnSearchGlia.constraints.sameGliaAlgorithm">
                    <span translate="energliaApp.simulation.problemType.AngnSearchGliaParams.sameGliaAlgorithm">Same glia Algorithm</span>
                </input>
            </div>
            <div class="form-group container-fluid">
                <input type="checkbox" ng-model="vm.angnSearchGlia.constraints.decreateGreaterThanIncrease">
                    <span translate="energliaApp.simulation.problemType.AngnSearchGliaParams.decreateGreaterThanIncrease">
                        Decrease greater than increase
                    </span>
                </input>
            </div>


            <table class="table table-striped">
                <thead>
                    <th><span class="center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.variable">Variable</span></th>
                    <th><span class="center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.min">min</span></th>
                    <th><span class="center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.max">MAX</span></th>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.weight">Weight</th>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.weightMin.$error.required}">
                                <input type="number" placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.min' | translate }}"
                                   ng-model="vm.angnSearchGliaParams.constraints.weight.min" name="weightMin" class="form-control" required/>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.weightMax.$error.required}">
                                <input type="number" placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.max' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.weight.max" name="weightMax" class="form-control" required/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.iteration">Iteration</th>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.itMin.$error.required}">
                                <input type="number" min="0" step="1" max="10"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.min' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.iteration.min" name="itMin" class="form-control" required/>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.itMax.$error.required}">
                                <input type="number" min="0" step="1" max="10"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.max' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.iteration.max" name="itMax" class="form-control" required/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.activation">Activation</th>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.actMin.$error.required}">
                                <input type="number" min="0" step="1" max="10"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.min' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.activation.min" name="actMin" class="form-control" required/>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.actMin.$error.required}">
                                <input type="number" min="0" step="1" max="10"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.max' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.activation.max" name="actMax" class="form-control" required/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.increase">Increase</th>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.incMin.$error.required}">
                                <input type="number" min="0" step="0.1" max="1"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.min' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.increase.min" name="incMin" class="form-control" required/>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.incMax.$error.required}">
                                <input type="number" min="0" step="0.1" max="1"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.max' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.increase.max" name="incMax" class="form-control" required/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center" translate="energliaApp.simulation.problemType.AngnSearchGliaParams.decrease">Decrease</th>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.decMin.$error.required}">
                                <input type="number" min="0" step="0.1" max="1"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.min' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.decrease.min" name="decMin" class="form-control" required/>
                            </span>
                        </td>
                        <td>
                            <span ng-class="{'has-error': angnSearchGliaForm.incMax.$error.required}">
                                <input type="number" min="0" step="0.1" max="1"
                                       placeholder="{{ 'energliaApp.simulation.problemType.AngnSearchGliaParams.max' | translate }}"
                                       ng-model="vm.angnSearchGliaParams.constraints.decrease.max" name="decMax" class="form-control" required/>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="" >
                <button type="button" class="btn btn-default" ng-click="vm.problemClear()"
                        translate="button.previous">
                    Previous
                </button>
                <button type="button" ng-disabled="angnSearchGliaForm.$invalid || isSaving"
                        ng-click="vm.saveProblem()"
                        class="btn btn-primary"
                        translate="button.next">
                    Next
                </button>
            </div>

        </form>
    </div>

        <!-- to show nuSVM -->
        <div ng-show="vm.simulation.problemId == '3'">

            <div class="form-group">
                <h4 translate="energliaApp.simulation.problemType.NuSvmParams.errorToMimimize">
                    Error to mimimize
                </h4>
                <div ng-hide="vm.simulation.minimizeId">
                    <p class="help-block"
                       translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                <div class="form-group container-fluid">
                    <label class="radio" ng-repeat="errorType in vm.problemtype.minimizes">
                        <input type="radio"
                               ng-model="vm.simulation.minimizeId" ng-value="errorType.id"
                               required>
                        <span translate="{{'energliaApp.simulation.errorType.'+errorType.name}}">{{errorType.name}}</span>
                        </input>
                    </label>
                </div>
            </div>

            <form name="nuSvmForm" role="form" novalidate show-validation>
                <h4 translate="energliaApp.simulation.problemType.NuSvmParams.constraint">
                    Constraints
                </h4>

                <table class="table table-striped">
                    <thead>
                        <th class="text-center" translate="energliaApp.simulation.problemType.NuSvmParams.variable">Variable</th>
                        <th class="text-center" translate="energliaApp.simulation.problemType.NuSvmParams.min">min</th>
                        <th class="text-center" translate="energliaApp.simulation.problemType.NuSvmParams.max">Max</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th translate="energliaApp.simulation.problemType.NuSvmParams.mu">&mu;</th>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.muMin.$error.required}">
                                    <input type="number" min="0.0000001" max="1" name="muMin" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.min' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.mu.min" required/>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.muMax.$error.required}">
                                    <input type="number" min="0.0000001" max="1" name="muMax" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.max' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.mu.max" required/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th translate="energliaApp.simulation.problemType.NuSvmParams.tolerance">Tolerance</th>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.tolMin.$error.required}">
                                        <input type="number" min="0.0000001" max="1" name="tolMin" class="form-control"
                                               placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.min' | translate }}"
                                               ng-model="vm.nuSvmParams.constraints.tolerance.min" required/>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.tolMax.$error.required}">
                                    <input type="number" min="0.0000001" max="1" name="tolMax" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.max' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.tolerance.max" required/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th translate="energliaApp.simulation.problemType.NuSvmParams.degree">degree</th>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.deMin.$error.required}">
                                    <input type="number" min="0" step="1" name="deMin" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.min' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.degree.min" required/>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.deMax.$error.required}">
                                    <input type="number" min="0" step="1" name="deMax" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.max' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.degree.max" required/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th translate="energliaApp.simulation.problemType.NuSvmParams.gamma">Gamma</th>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.gamMin.$error.required}">
                                    <input type="number" min="0" name="gamMin" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.min' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.gamma.min" required/>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.gamMax.$error.required}">
                                    <input type="number" min="0" name="gamMax" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.max' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.gamma.max" required/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th translate="energliaApp.simulation.problemType.NuSvmParams.coef">Coef</th>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.coMin.$error.required}">
                                    <input type="number" name="coMin" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.min' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.coef.min" required/>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'has-error': nuSvmForm.coMax.$error.required}">
                                    <input type="number" name="coMax" class="form-control"
                                           placeholder="{{ 'energliaApp.simulation.problemType.NuSvmParams.max' | translate }}"
                                           ng-model="vm.nuSvmParams.constraints.coef.max" required/>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="" >
                    <button type="button" class="btn btn-default" ng-click="vm.problemClear()"
                            translate="button.previous">
                        Previous
                    </button>
                    <button type="button" ng-disabled="nuSvmForm.$invalid || isSaving"
                            ng-click="vm.saveProblem()"
                            class="btn btn-primary"
                            translate="button.next">
                        Next
                    </button>
                </div>

            </form>
        </div>


</div>

<!-- to choose Population -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.POPULATION">
    <form name="populationForm" role="form" novalidate ng-submit="vm.savePopulation()" show-validation>

        <div class="row">
            <div class="col-xs-4">
                <h4>
                    <span translate="energliaApp.population.detail.title">Population</span>
                    <span ng-show="vm.numPopulation">{{vm.currentPopulation}}/{{vm.numPopulation}}</span>
                </h4>
            </div>

            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.populationSearchQuery" id="populationSearchQuery" placeholder="{{ 'energliaApp.population.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.populationSearch(vm.populationSearchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.populationCurrentSearch">
                            <button class="btn btn-info" ng-click="vm.populationClear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                    <th class="text-center"></th>
                    <th jh-sort-by="name"          class="text-center"><span translate="energliaApp.population.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="ownerLogin"    class="text-center"><span translate="energliaApp.population.owner">owner</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="timestamp"     class="text-center"><span translate="energliaApp.population.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th jh-sort-by="sizeGenotype" class="text-center"><span translate="energliaApp.population.sizeGenotype">Size Genotype</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="population in vm.populations track by population.id" ng-class="{info: vm.selectPopulation[vm.currentPopulation]==population.id}">
                    <td class="text-center"><input type="radio" ng-model="vm.selectPopulation[vm.currentPopulation]" ng-value="population.id" ng-change="vm.getPopulation(population.id)" required/></td>
                    <td class="text-center"><a ui-sref="population-detail({id:population.id})">{{population.name}}</a></td>
                    <td class="text-center">{{population.ownerLogin}}</td>


                    <td class="text-center">{{population.timestamp | date:'medium'}}</td>
                    <td class="text-center">{{population.sizeGenotype}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.populationPage" total="vm.queryPopulationCount"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalPopulationItems" ng-model="vm.populationPage" ng-change="vm.populationTransition()"></uib-pagination>
        </div>


<!--
        <dl class="dl-horizontal" ng-show="vm.selectPopulation[vm.currentPopulation]">
            <dt>name</dt>
            <dd><a ui-sref="population-detail({id:vm.population[vm.currentPopulation].id})">{{vm.population[vm.currentPopulation].name}}</a></dd>
        </dl>
-->


        <div class="">
            <button type="button" class="btn btn-default" ng-click="vm.populationClear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="button" ng-disabled="populationForm.$invalid || !vm.selectPopulation[vm.currentPopulation] || isSaving" ng-click="vm.savePopulation()"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>
</div>

<!-- to choose ga params -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.GA">
    <form name="gaForm" role="form" novalidate ng-submit="vm.saveGa()" show-validation>

        <div class="row">
            <div class="col-xs-4">
                <h4 translate="energliaApp.simulation.ga.title">GA params</h4>
            </div>

        </div>

        <div class="form-group form-inline row">
            <label class="control-label col-md-2"
                   translate="energliaApp.simulation.ga.generation" for="field_ga_generation">Generation</label>

            <input type="number" min="1" step="1" max="10000" name="ga_generation" id="field_ga_generation"
                   class="form-control col-md-1"
                   ng-model="vm.gaParams.generation"
                   required />

            <div ng-show="gaForm.ga_generation.$invalid">
                <p class="help-block"
                   ng-show="gaForm.ga_generation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group form-inline row">
            <label class="control-label col-md-2"
                   translate="energliaApp.simulation.ga.goal" for="field_ga_goal">Goal</label>

            <input type="number" min="0" max="10000" name="ga_goal" id="field_ga_goal"
                   class="form-control col-md-1"
                   ng-model="vm.gaParams.goal"
                   required />

            <div ng-show="gaForm.ga_goal.$invalid">
                <p class="help-block"
                   ng-show="gaForm.ga_goal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div ng-show="vm.sizePopulation.length > 1">
            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.fitness.algorithm" for="field_fitness_algorithm">Fitness algorithm</label>

                <select class="form-control col-md-2" id="field_fitness_algorithm" name="fitness_algorithm"
                        ng-model="vm.gaParams.fitness.algorithm"
                        ng-options="fitness.name as 'energliaApp.simulation.fitnessFunction.'+fitness.name  | translate for fitness in vm.fitness_function"
                        ng-required="vm.sizePopulation.length > 1">
                    <option value=""></option>
                </select>

                <div ng-show="gaForm.fitness_algorithm.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.fitness_algorithm.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-1"
                       translate="energliaApp.simulation.ga.fitness.best" for="field_fitness_best">Best</label>
                <input type="number" min="0" step="1" max="10" name="fitness_best" id="field_fitness_best"
                       class="form-control col-md-1"
                       ng-model="vm.gaParams.fitness.best" ng-init="vm.gaParams.fitness.best = 0"
                       required />

                <label class="control-label col-md-1"
                       translate="energliaApp.simulation.ga.fitness.random" for="field_fitness_random">Random</label>
                <input type="number" min="0" step="1" max="10" name="fitness_random" id="field_fitness_random"
                       class="form-control col-md-1"
                       ng-model="vm.gaParams.fitness.random" ng-init="vm.gaParams.fitness.random = 0"
                       required />

                <label class="control-label col-md-1"
                       translate="energliaApp.simulation.ga.fitness.function" for="field_fitness_function">Function</label>
                <input type="number" min="0" step="1" max="10" name="fitness_function" id="field_fitness_function"
                       class="form-control col-md-1"
                       ng-model="vm.gaParams.fitness.function" ng-init="vm.gaParams.fitness.function = 0"
                       required />
            </div>

            <div class="form-group form-inline row" ng-show="vm.gaParams.fitness.function > 0">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.select.title" for="field_fitness_function_alg">Select</label>

                <select class="form-control col-md-2" id="field_fitness_function_alg" name="fitness_function_alg"
                        ng-model="vm.gaParams.fitness.select.algorithm"
                        ng-options="select.name as 'energliaApp.simulation.selectFunction.'+select.name  | translate for select in vm.select_function"
                        ng-required="vm.gaParams.fitness.function > 0">
                    <option value=""></option>
                </select>

                <span ng-show="vm.gaParams.fitness.select.algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.fitness.select.algorithm == 'PROBABILISTIC_TOURNAMENT'">
                    <label class="control-label col-md-1"
                           translate="energliaApp.simulation.ga.window" for="field_fitness_function_win">Window</label>
                    <input type="number" min="1" step="1" max="10" name="fitness_function_win" id="field_fitness_function_win"
                           class="form-control col-md-1"
                           ng-model="vm.gaParams.fitness.select.window" ng-init="vm.gaParams.fitness.select.window = 2"
                           ng-required="vm.gaParams.fitness.select.algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.fitness.select.algorithm == 'PROBABILISTIC_TOURNAMENT'" />

                    <span ng-show="vm.gaParams.fitness.select.algorithm == 'PROBABILISTIC_TOURNAMENT'">
                        <label class="control-label col-md-1"
                               translate="energliaApp.simulation.ga.prob" for="field_fitness_function_prob">Probability</label>
                        <input type="number" min="0" step="0.01" max="1" name="fitness_function_prob" id="field_fitness_function_prob"
                               class="form-control col-md-1"
                               ng-model="vm.gaParams.fitness.select.prob" ng-init="vm.gaParams.fitness.select.prob = 0.75"
                               ng-required="vm.gaParams.fitness.select.algorithm == 'PROBABILISTIC_TOURNAMENT'" />
                    </span>
                </span>


            </div>
        </div>

        <div ng-repeat="_ in ((_ = []) && (_.length=vm.sizePopulation.length) && _) track by $index">
            <hr />

            <h4 translate="energliaApp.simulation.ga.population" translate-values="{id: '{{$index}}'}">Population {{$index}}</h4>

            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.select.mother" for="field_ga{{$index}}_mother_alg">Select mother</label>

                <select class="form-control col-md-2" id="field_ga{{$index}}_mother_alg" name="ga{{$index}}_mother_alg"
                        ng-model="vm.gaParams.mother[$index].algorithm"
                        ng-options="select.name as 'energliaApp.simulation.selectFunction.'+select.name  | translate for select in vm.select_function"
                        required>
                    <option value=""></option>
                </select>

                <span ng-show="vm.gaParams.mother[$index].algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.mother[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'">
                    <label class="control-label col-md-1"
                           translate="energliaApp.simulation.ga.window" for="field_ga{{$index}}_mother_win">Window</label>
                    <input type="number" min="1" step="1" max="10" name="ga{{$index}}_mother_win" id="field_ga{{$index}}_mother_win"
                           class="form-control col-md-1"
                           ng-model="vm.gaParams.mother[$index].window" ng-init="vm.gaParams.mother[$index].window = 2"
                           ng-required="vm.gaParams.mother[$index].algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.mother[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'" />

                    <span ng-show="vm.gaParams.mother[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'">
                        <label class="control-label col-md-1"
                               translate="energliaApp.simulation.ga.prob" for="field_ga{{$index}}_mother_prob">Probability</label>
                        <input type="number" min="0" step="0.01" max="1" class="form-control col-md-1"
                               name="ga{{$index}}_mother_prob" id="field_ga{{$index}}_mother_prob"
                               ng-model="vm.gaParams.mother[$index].prob" ng-init="vm.gaParams.mother[$index].prob = 0.75"
                               ng-required="vm.gaParams.mother[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'" />
                    </span>
                </span>

                <div ng-show="gaForm.ga{{$index}}_mother_alg.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.ga{{$index}}_mother_alg.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.select.father" for="field_ga{{$index}}_father_alg">Select father</label>

                <select class="form-control col-md-2" name="ga{{$index}}_father_alg" id="field_ga{{$index}}_father_alg"
                        ng-model="vm.gaParams.father[$index].algorithm"
                        ng-options="select.name as 'energliaApp.simulation.selectFunction.'+select.name  | translate for select in vm.select_function"
                        required>
                    <option value=""></option>
                </select>

                <span ng-show="vm.gaParams.father[$index].algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.father[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'">
                    <label class="control-label col-md-1"
                           translate="energliaApp.simulation.ga.window" for="field_ga{{$index}}_father_win">Window</label>
                    <input type="number" min="1" step="1" max="10" name="ga{{$index}}_father_win" id="field_ga{{$index}}_father_win"
                           class="form-control col-md-1"
                           ng-model="vm.gaParams.father[$index].window" ng-init="vm.gaParams.father[$index].window = 2"
                           ng-required="vm.gaParams.father[$index].algorithm == 'DETERMINISTIC_TOURNAMENT' || vm.gaParams.father[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'" />

                    <span ng-show="vm.gaParams.father[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'">
                        <label class="control-label col-md-1"
                               translate="energliaApp.simulation.ga.prob" for="field_ga{{$index}}_father_prob">Probability</label>
                        <input type="number" min="0" step="0.01" max="1" name="ga{{$index}}_father_prob" id="field_ga{{$index}}_father_prob"
                               class="form-control col-md-1"
                               ng-model="vm.gaParams.father[$index].prob" ng-init="vm.gaParams.father[$index].prob = 0.75"
                               ng-required="vm.gaParams.father[$index].algorithm == 'PROBABILISTIC_TOURNAMENT'" />
                    </span>
                </span>

                <div ng-show="gaForm.ga{{$index}}_father_alg.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.ga{{$index}}_father_alg.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.crossover.title" for="field_ga{{$index}}_cross_alg">Crossover</label>

                <select class="form-control col-md-2" id="field_ga{{$index}}_cross_alg" name="ga{{$index}}_cross_alg"
                        ng-model="vm.gaParams.crossover[$index].algorithm"
                        ng-options="crossover.name as 'energliaApp.simulation.crossoverFunction.'+crossover.name  | translate for crossover in vm.crossover_function"
                        required>
                    <option value=""></option>
                </select>

                <label class="control-label col-md-1"
                       translate="energliaApp.simulation.ga.rate" for="field_ga{{$index}}_cross_rate">Rate</label>
                <input type="number" min="0" step="0.0001" max="1" name="ga{{$index}}_cross_rate" id="field_ga{{$index}}_cross_rate"
                       class="form-control col-md-1"
                       ng-model="vm.gaParams.crossover[$index].rate" ng-init="vm.gaParams.crossover[$index].rate = 0.9"
                       required />

                <span ng-show="vm.gaParams.crossover[$index].algorithm == 'REAL_SBX'">
                    <label class="control-label col-md-1"
                           translate="energliaApp.simulation.ga.mu" for="field_ga{{$index}}_cross_mu">Mu</label>
                    <input type="number" min="0" step="0.01" max="1" name="ga{{$index}}_cross_mu" id="field_ga{{$index}}_cross_mu"
                           class="form-control col-md-1"
                           ng-model="vm.gaParams.crossover[$index].mu" ng-init="vm.gaParams.crossover[$index].mu = 0.5"
                           ng-required="vm.gaParams.crossover[$index].algorithm == 'REAL_SBX'" />

                </span>

                <div ng-show="gaForm.ga{{$index}}_cross_alg.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.ga{{$index}}_cross_alg.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.mutation.title" for="field_ga{{$index}}_muta_alg">Mutation</label>

                <select class="form-control col-md-2" name="ga{{$index}}_muta_alg" id="field_ga{{$index}}_muta_alg"
                        ng-model="vm.gaParams.mutation[$index].algorithm"
                        ng-options="mutation.name as 'energliaApp.simulation.mutationFunction.'+mutation.name  | translate for mutation in vm.mutation_function"
                        required>
                    <option value=""></option>
                </select>

                <label class="control-label col-md-1"
                       translate="energliaApp.simulation.ga.rate" for="field_ga{{$index}}_muta_rate">Rate</label>
                <input type="number" min="0" step="0.0001" max="1" name="ga{{$index}}_muta_rate" id="field_ga{{$index}}_muta_rate"
                       class="form-control col-md-1"
                       ng-model="vm.gaParams.mutation[$index].rate" ng-init="vm.gaParams.mutation[$index].rate = 0.05"
                       required />

                <div ng-show="gaForm.ga{{$index}}_muta_alg.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.ga{{$index}}_muta_alg.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="form-group form-inline row">
                <label class="control-label col-md-2"
                       translate="energliaApp.simulation.ga.replace.title" for="field_ga{{$index}}_replace">Replace</label>

                <select class="form-control col-md-2" id="field_ga{{$index}}_replace" name="ga{{$index}}_replace"
                        ng-model="vm.gaParams.replace[$index]"
                        ng-options="replace.name as 'energliaApp.simulation.replaceFunction.'+replace.name  | translate for replace in vm.replace_function"
                        required>
                    <option value=""></option>
                </select>

                <div ng-show="gaForm.ga{{$index}}_replace.$invalid">
                    <p class="help-block"
                       ng-show="gaForm.ga{{$index}}_replace.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

        </div>

        <div class="">
            <button type="button" class="btn btn-default" ng-click="vm.gaClear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="submit" ng-disabled="gaForm.$invalid || vm.isSaving"
                    ng-click="vm.saveGa()"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>
    </form>
</div>


<!-- to choose server -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.SERVER">
    <form name="sshServerForm" role="form" novalidate ng-submit="vm.saveSshServer()" show-validation>

        <div class="row">
            <div class="col-xs-4">
                <h4 translate="energliaApp.simulation.breadcrumb.server">Server</h4>
            </div>
<!--
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.sshServerSearchQuery" id="sshServerSearchQuery" placeholder="{{ 'energliaApp.sshServer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.sshServerSearch(vm.sshServerSearchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.sshServerCurrentSearch">
                            <button class="btn btn-info" ng-click="vm.sshServerClear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
-->
        </div>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="text-center"></th>
                        <th jh-sort-by="name" class="text-center">
                            <span translate="energliaApp.sshServer.dnsname">dnsname</span>
                            <span class="glyphicon glyphicon-sort"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sshServer in vm.sshServers track by sshServer.id" ng-class="{info: vm.selectSshServer==sshServer.id}">
                        <td><input type="radio" ng-model="vm.selectSshServer" ng-value="sshServer.id" ng-change="vm.getSshServer(sshServer.id)" required/></td>
                        <td class="text-center">
                            <a ui-sref="ssh-server-detail({id:sshServer.id})">{{sshServer.dnsname}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.sshServerPage" total="vm.querySshServerCount"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalSshServerItems" ng-model="vm.sshServerPage" ng-change="vm.sshServerTransition()"></uib-pagination>
        </div>

<!--
        <dl class="dl-horizontal" ng-show="vm.selectSshServer">
            <dt>name</dt>
            <dd><a ui-sref="ssh-server-detail({id:vm.sshServer.id})">{{vm.sshServer.dnsname}}</a></dd>
        </dl>
-->


        <div class="">
            <button type="button" class="btn btn-default" ng-click="vm.sshServerClear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="submit" ng-disabled="sshServerForm.$invalid || !vm.selectSshServer || vm.isSaving"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>
</div>


<!-- to choose execution params -->
<div ng-show="vm.simulationStatus == vm.SIMULATION_STATUS.EXECUTION">
    <form name="executionForm" role="form" novalidate ng-submit="vm.saveExecution()" show-validation>

        <h4 translate="energliaApp.simulation.execution.title">Execution parameters</h4>

        <div class="form-group form-inline row">
            <label class="control-label col-md-2" translate="energliaApp.simulation.execution.arch" for="field_arch">Architecture</label>
            <select class="form-control col-md-2" id="field_arch" name="arch"
                    ng-model="vm.simulation.execution.selectedArch"
                    ng-options="archs.name as archs.name for archs in vm.archtypes"
                    required>
                <option value=""></option>
            </select>
            <div ng-show="simulationForm.arch.$invalid">
                <p class="help-block"
                   ng-show="simulationForm.arch.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group form-inline row">
            <label class="control-label col-md-1" translate="energliaApp.simulation.execution.day" for="field_day">Days</label>
            <input type="number" class="form-control col-md-1" name="day" id="field_day"
                   ng-model="vm.simulation.execution.time.day"
                   min="0" max="{{vm.sshServer.maxTime/(60*24)}}"
                   required />


            <label class="control-label col-md-1" translate="energliaApp.simulation.execution.hour" for="field_hour">Hours</label>
            <input type="number" class="form-control col-md-1" name="hout" id="field_hour"
                   ng-model="vm.simulation.execution.time.hour"
                   min="0" max="{{vm.sshServer.maxTime/60}}"
                   required />


            <label class="control-label col-md-1" translate="energliaApp.simulation.execution.min" for="field_minute">Minutes</label>
            <input type="number" class="form-control col-md-1" name="minute" id="field_minute"
                   ng-model="vm.simulation.execution.time.minute"
                   min="0" max="{{vm.sshServer.maxTime}}"
                   required />

            <label class="hidden control-label col-md-1" translate="energliaApp.simulation.execution.total" for="field_total">Total</label>

            <input type="number" class="hidden form-control col-md-1" name="total" id="field_total"
                   ng-model="vm.simulation.execution.time.total"
                   min="1" max="{{vm.sshServer.maxTime}}"
                   required
                   readonly/>


            <div ng-show="simulationForm.total.$invalid">
                <p class="help-block"
                   ng-show="simulationForm.total.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>

        </div>

        <span class="hidden">
            {{vm.simulation.execution.time.total = vm.simulation.execution.time.minute + 60 * (vm.simulation.execution.time.hour + 24 *vm.simulation.execution.time.day)}}
        </span>

        <div class="form-group form-inline row">
            <label class="control-label col-md-2" translate="energliaApp.simulation.execution.proc" for="field_proc">Proc</label>
            <input type="number" class="form-control col-md-2" name="proc" id="field_proc"
                   ng-model="vm.simulation.execution.proc"
                   min="1"
                   max="{{vm.sshServer.maxProc}}"
                   required />
            <div ng-show="simulationForm.proc.$invalid">
                <p class="help-block"
                   ng-show="simulationForm.proc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group form-inline row">
            <label class="control-label col-md-2" translate="energliaApp.simulation.execution.memory" for="field_memory">Memory</label>
            <input type="number" class="form-control col-md-2" name="memory" id="field_memory"
                   ng-model="vm.simulation.execution.memory"
                   min="1"
                   max="{{vm.sshServer.maxMemory/(1024*1024)}}"
                   required />
            <div ng-show="simulationForm.memory.$invalid">
                <p class="help-block"
                   ng-show="simulationForm.memory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="">
            <button type="button" class="btn btn-default" ng-click="vm.executionClear()"
                    translate="button.previous">
                Previous
            </button>
            <button type="submit" ng-disabled="executionForm.$invalid || vm.isSaving"
                    class="btn btn-primary"
                    translate="button.next">
                Next
            </button>
        </div>

    </form>
</div>

