<div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <uib-alert ng-repeat="alert in vm.alerts" dismiss-on-timeout="{{vm.timeout}}" type="{{alert.type}}" close="vm.closeAlert($index)">
                {{alert.msg}}
            </uib-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 ">
            <h2 translate="energliaApp.population.detail.title">Population<!-- {{vm.population.id}} --></h2>
        </div>

        <div class="col-xs-8 text-right">
            <button ng-hide="vm.share" ng-click="vm.share = true"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-share"></span>&nbsp;<span translate="entity.action.share"> Share</span>
            </button>

            <form class="form-inline inline" ng-show="vm.share">
                <label for="inputLogin" translate="entity.action.shareWith">Share with</label>
                <input class="form-control" id="inputLogin"
                       ng-model="vm.loginname" required
                       placeholder="{{ 'energliaApp.population.loginname' | translate }}"/>


                <button ng-click="vm.share = false" type="button"
                        class="btn btn-default">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel"> Cancel</span>
                </button>
                <button ng-click="vm.sharePopulation()" type="submit"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;<span translate="entity.action.share"> Share</span>
                </button>

            </form>
        </div>

    </div>

    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="energliaApp.population.name">Name</span></dt>
        <dd>
            <span>{{vm.population.name}}<span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.population.owner">owner</span></dt>
        <dd>
            {{vm.population.ownerLogin}}
        </dd>


        <hr>
        <dt>
            <span translate="energliaApp.population.description">Description</span>
            <br />
            <button class="btn btn-primary"
                    ng-hide="vm.edit"
                    ng-click="vm.changeEdit()"
                    title="{{ 'entity.action.edit' | translate }}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>

        </dt>
        <dd>
            <span ng-hide="vm.edit" ng-bind-html="vm.population.description"></span>

            <textarea type="text" rows="5"
                      ng-show="vm.edit"
                      class="form-control"
                      name="description"
                      id="field_description"
                      ng-model="vm.editDescription">
            </textarea>
            <br />

            <div class="text-right" ng-show="vm.edit">
                <button class="btn btn-default"
                        ng-click="vm.changeEdit()"
                        title="{{ 'entity.action.cancel' | translate }}">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.cancel"></span>
                </button>
                <button class="btn btn-primary"
                        ng-click="vm.update()"
                        title="{{ 'entity.action.save' | translate }}">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;
                    <span class="hidden-xs hidden-sm" translate="entity.action.save"></span>
                </button>
            </div>


        </dd>



        <hr>
        <dt><span translate="energliaApp.population.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{vm.population.timestamp | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.population.numIndividual">NumIndividual</span></dt>
        <dd>
            <span>{{vm.population.numIndividual}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.population.numCombination">NumCombination</span></dt>
        <dd>
            <span>{{vm.population.numCombination}}</span>
        </dd>
        <hr>
        <dt><span translate="energliaApp.population.sizeGenotype">SizeGenotype</span></dt>
        <dd>
            <span>{{vm.population.sizeGenotype}}</span>
        </dd>
        <hr>
    </dl>

    <div class="row">

        <div class="col-xs-4 ">
            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>
        </div>

    </div>

</div>
