
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPopulationLabel" translate="energliaApp.population.home.createOrEditLabel">Create or edit a Population</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.population.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.description" for="field_description">Description</label>
            <textarea type="text" rows="5" class="form-control" name="description" id="field_description"
                    ng-model="vm.population.description"
                     ></textarea>
        </div>


        <div class="form-inline form-group">
            <label class="control-label" translate="energliaApp.population.numCombination" for="field_numCombination">NumCombination</label>
            &nbsp;
            <input type="number" class="form-control" name="numCombination" id="field_numCombination"
                   ng-model="vm.population.numCombination"
            />
            <div ng-if="!vm.population.numCombination || vm.population.numCombination <= 0">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group table-responsive" ng-hide="!vm.population.numCombination">
            <table class="table table-striped">
                <thead>
                    <th><!-- Index --></th>
                    <th translate="energliaApp.population.home.title">Population</th>
                </thead>
                <tbody>
                    <tr ng-repeat="_ in ((_ = []) && (_.length=vm.population.numCombination) && _) track by $index">
                        <td>
                            <strong translate="energliaApp.population.combination"
                                    translate-values="{id: '{{$index}}'}">
                                Combination {{$index}}
                            </strong>
                        </td>

                        <td class="text-center">
                            <p>
                                <span ng-if="vm.files[$index]">
                                    <span class="text-info"
                                          translate="energliaApp.population.button.population"
                                          translate-values="{id: '{{$index}}'}">
                                        Population {{$index}}
                                    </span>
                                    <button ng-click="vm.files[$index]=null;" class="btn btn-danger glyphicon glyphicon-remove">

                                    </button>
                                </span>
                                <button type="file" ngf-select class="btn btn-default"
                                        ngf-change="vm.updateArray($file, vm.files, $index)"
                                        translate="energliaApp.population.button.population"
                                        translate-values="{id: '{{$index}}'}">
                                    Population {{$index}}
                                </button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.population.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.timestamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.numIndividual" for="field_numIndividual">NumIndividual</label>
            <input type="number" class="form-control" name="numIndividual" id="field_numIndividual"
                    ng-model="vm.population.numIndividual"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.numCombination" for="field_numCombination">NumCombination</label>
            <input type="number" class="form-control" name="numCombination" id="field_numCombination"
                    ng-model="vm.population.numCombination"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="energliaApp.population.sizeGenotype" for="field_sizeGenotype">SizeGenotype</label>
            <input type="number" class="form-control" name="sizeGenotype" id="field_sizeGenotype"
                    ng-model="vm.population.sizeGenotype"
                     />
        </div>

        <div class="form-group">
            <label translate="energliaApp.population.owner" for="field_owner">owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.population.ownerId" ng-options="user.id as user.login for user in vm.users">
                <option value=""></option>
            </select>
        </div>

        -->
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
